archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/ReferralBonus/000000001.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1561680288681,
        "description": "",
        "identifier": "0fa127ce-dd09-5c6e-a629-51a6c16b1088",
        "modifiedTimestamp": 1565126109895,
        "name": "ReferralBonus",
        "type": "Flow",
        "versionCount": 7
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "cedbf6ed-cb16-35f6-a9d7-292eea0baeb4",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "06cf0232-1da5-3881-9143-dfc29ac502fd",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "19aef07e-c21d-324b-b03a-5d973818fcfd",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "bfe93e6b-0553-351e-8210-f2c95b642e0e",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "a7b9505f-4085-3e81-abaa-e0faf8faaa55",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                    "id": "cb4ab65d-5b77-3bcb-bcde-85c299b5f36c",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "67bce6e9-c3f3-3310-96bb-dba944e93345",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "9a3337f4-7735-37ce-9a5e-123cbff3b4b2",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "4b454a44-ac52-3efa-a689-4ceb4acb86a9",
                    "name": "ConsumeKafka_2_0",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "7a4bbec1-c069-3353-932a-063c21db9b38",
                    "name": "Log incoming data",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "8612197e-abc4-3eab-bcad-7f1f0d55e30a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "c043f325-0cfa-3d03-bcfc-35dcdb1c31e5",
                    "name": "Parse ARVO wallet.send_event",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "f48e5b36-9205-31d2-9c06-af4a5fdba85f",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "cdc122d8-d0f9-3608-8466-a746d7235c9f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "678a2a15-d3c3-3bae-9769-4aa1c995fdda",
                    "name": "PrepareGetCurrentBalance",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "b58e82b9-9966-3a4c-b1b7-420c9e5a85ba",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "18ab2f7d-c2f5-3ed0-9e84-46070e6e0f6e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "cedbf6ed-cb16-35f6-a9d7-292eea0baeb4",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2198.8855403101884,
                        "y": 1573.121626411133
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "bfe93e6b-0553-351e-8210-f2c95b642e0e",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "02365751-74e0-3fee-8aed-299aebfb910b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "1a331b8f-9fb8-3d27-a488-0bfd434b5eca",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "8eeb19a0-1c62-3d41-84a5-e38c29ac24d1",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "90219ec7-3725-373a-af94-a57dd3b77a3d",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                    "id": "651aa499-132c-3600-91fd-6b4ec704b711",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "a751e129-d5d3-3ac5-a3be-ffd1f9e8b8c0",
                    "name": "PrepareGetOrCreateWallet",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "68c95853-7cfd-3c5a-a673-9f5bba1849e9",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "f48e5b36-9205-31d2-9c06-af4a5fdba85f",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "e41dc090-5a10-3347-8014-cec97f5de989",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "40d1fb46-d086-3c1f-8d15-99868d0a4b94",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "c043f325-0cfa-3d03-bcfc-35dcdb1c31e5",
                    "name": "Parse ARVO wallet.send_event",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "c52d192e-3f09-3815-9ca5-665fe1fd0ebc",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "27bc419c-722a-33e8-b333-77139743eb6a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "bfe93e6b-0553-351e-8210-f2c95b642e0e",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2840.9785277477267,
                        "y": 1351.8427502051536
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "8eeb19a0-1c62-3d41-84a5-e38c29ac24d1",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "28242249-0cf5-3cec-b18b-a4840f459527",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                    "id": "e8ef325b-997d-31d2-9e40-29141ad68938",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "1c528b97-b91c-34f2-91f5-7e75efa70dfa",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "64452873-b0c6-3099-bd25-cacc311df21d",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "f1777549-cd62-3877-a49e-8fc2fd69f28a",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "15805dab-d9cf-3287-b950-7af22ac16d5f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "a751e129-d5d3-3ac5-a3be-ffd1f9e8b8c0",
                    "name": "PrepareGetOrCreateWallet",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "678a2a15-d3c3-3bae-9769-4aa1c995fdda",
                    "name": "PrepareGetCurrentBalance",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "4614f0c0-e1c3-36c0-8596-88174a328e85",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "wallet"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "b58e82b9-9966-3a4c-b1b7-420c9e5a85ba",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "c52d192e-3f09-3815-9ca5-665fe1fd0ebc",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "cc924f2e-6a95-37a0-8e98-2c89b328da5a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "f48e5b36-9205-31d2-9c06-af4a5fdba85f",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "813bf851-964a-32a9-a3ea-ee232f035d33",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "80d3be95-cd9c-30c3-9ff1-c2507e6dfb68",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "67bce6e9-c3f3-3310-96bb-dba944e93345",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": -432.181396484375,
                        "y": 197.84703063964844
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "1c528b97-b91c-34f2-91f5-7e75efa70dfa",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "fe1aeed7-c4e6-3b1c-93fb-02b139c105f5",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "e41dc090-5a10-3347-8014-cec97f5de989",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "a7551b77-25fc-3659-9372-1e94210e4b24",
                    "name": "PrepareReferralCreateHistory",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "1d42489d-3ea3-3ec7-9686-c2c8ddf06e8a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "referral"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "b58e82b9-9966-3a4c-b1b7-420c9e5a85ba",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "1a331b8f-9fb8-3d27-a488-0bfd434b5eca",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "57e5b9c7-2235-3b61-8ea1-19a045058f4f",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "bfe93e6b-0553-351e-8210-f2c95b642e0e",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "f1777549-cd62-3877-a49e-8fc2fd69f28a",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "8215646b-0d23-3ca4-8ed5-a6661360ae98",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "19aef07e-c21d-324b-b03a-5d973818fcfd",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2836.2024047008517,
                        "y": 1177.238624228591
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "a0560f2c-7723-319d-b5a5-a17efe822142",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "8eeb19a0-1c62-3d41-84a5-e38c29ac24d1",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "19aef07e-c21d-324b-b03a-5d973818fcfd",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "9a4413be-ae87-3c2b-b652-6c0a0014782f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                    "id": "7a4bbec1-c069-3353-932a-063c21db9b38",
                    "name": "Log incoming data",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "1c528b97-b91c-34f2-91f5-7e75efa70dfa",
                "position": {
                    "x": -466.74895261133906,
                    "y": 391.8485473207455
                }
            },
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "c52d192e-3f09-3815-9ca5-665fe1fd0ebc",
                "position": {
                    "x": 1188.7911965110306,
                    "y": 1467.5413372855176
                }
            },
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "813bf851-964a-32a9-a3ea-ee232f035d33",
                "position": {
                    "x": -207.94303673586944,
                    "y": 89.01166012842569
                }
            }
        ],
        "identifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
        "inputPorts": [],
        "labels": [],
        "name": "ReferralBonus",
        "outputPorts": [],
        "position": {
            "x": 745.7396696673377,
            "y": 294.5572600055649
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "700a2063-1095-3e85-80b9-ccd042c2d9bd",
                "inputPorts": [],
                "labels": [],
                "name": "InvokeHTTP(GetOrCreateWallet)",
                "outputPorts": [],
                "position": {
                    "x": 2313.489589498756,
                    "y": 1175.6283126769194
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "28fb1156-039e-5d10-a8e9-a1c7dbdb4117",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 4
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "b58e82b9-9966-3a4c-b1b7-420c9e5a85ba",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 533.8186040425935,
                    "y": 765.8470326311054
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "referral": "${copy.index:equals('1')}",
                    "wallet": "${copy.index:equals('0')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "referral": {
                        "displayName": "referral",
                        "identifiesControllerService": false,
                        "name": "referral",
                        "sensitive": false
                    },
                    "wallet": {
                        "displayName": "wallet",
                        "identifiesControllerService": false,
                        "name": "wallet",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "e41dc090-5a10-3347-8014-cec97f5de989",
                "name": "LogMessage(ERROR)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -70.08049345734423,
                    "y": 131.24045248906495
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to parse AVRO message from ${kafka.topic} at ${kafka.offset}",
                    "log-prefix": "[ProcessController][ReferralBonus] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "a751e129-d5d3-3ac5-a3be-ffd1f9e8b8c0",
                "name": "PrepareGetOrCreateWallet",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1691.1827215738022,
                    "y": 1195.2123484128492
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "0",
                    "http_invoke.method": "GET",
                    "http_invoke.target_url": "${API_ENDPOINT}/wallet/balance/${for_user}/${company_id}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.method": {
                        "displayName": "http_invoke.method",
                        "identifiesControllerService": false,
                        "name": "http_invoke.method",
                        "sensitive": false
                    },
                    "http_invoke.target_url": {
                        "displayName": "http_invoke.target_url",
                        "identifiesControllerService": false,
                        "name": "http_invoke.target_url",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "67bce6e9-c3f3-3310-96bb-dba944e93345",
                "name": "DuplicateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -78.66973688738108,
                    "y": -153.93857792001685
                },
                "properties": {
                    "Number of Copies": "100"
                },
                "propertyDescriptors": {
                    "Number of Copies": {
                        "displayName": "Number of Copies",
                        "identifiesControllerService": false,
                        "name": "Number of Copies",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.DuplicateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "19aef07e-c21d-324b-b03a-5d973818fcfd",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 533.2337200530433,
                    "y": 342.64605840181787
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "PROCESS_ID": "$.api_message_request_id",
                    "Path Not Found Behavior": "warn",
                    "Return Type": "scalar",
                    "amount": "$.amount",
                    "company_id": "$.company_id",
                    "event_type": "$.event_type",
                    "for_user": "$.for_user",
                    "operation_subtype": "$.operation_subtype",
                    "originator": "$.originator",
                    "title": "$.title",
                    "transaction_id": "$.transaction_id"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "amount": {
                        "displayName": "amount",
                        "identifiesControllerService": false,
                        "name": "amount",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "event_type": {
                        "displayName": "event_type",
                        "identifiesControllerService": false,
                        "name": "event_type",
                        "sensitive": false
                    },
                    "for_user": {
                        "displayName": "for_user",
                        "identifiesControllerService": false,
                        "name": "for_user",
                        "sensitive": false
                    },
                    "operation_subtype": {
                        "displayName": "operation_subtype",
                        "identifiesControllerService": false,
                        "name": "operation_subtype",
                        "sensitive": false
                    },
                    "originator": {
                        "displayName": "originator",
                        "identifiesControllerService": false,
                        "name": "originator",
                        "sensitive": false
                    },
                    "title": {
                        "displayName": "title",
                        "identifiesControllerService": false,
                        "name": "title",
                        "sensitive": false
                    },
                    "transaction_id": {
                        "displayName": "transaction_id",
                        "identifiesControllerService": false,
                        "name": "transaction_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "bfe93e6b-0553-351e-8210-f2c95b642e0e",
                "name": "PutDistributedMapCache",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1689.6366256101146,
                    "y": 1430.3362691291868
                },
                "properties": {
                    "Cache Entry Identifier": "arn:user:has:wallet:${user_sub}",
                    "Cache update strategy": "replace",
                    "Distributed Cache Service": "947edf65-2db2-325c-b8c5-d156fb7d78e7",
                    "Max cache entry size": "1 MB"
                },
                "propertyDescriptors": {
                    "Cache Entry Identifier": {
                        "displayName": "Cache Entry Identifier",
                        "identifiesControllerService": false,
                        "name": "Cache Entry Identifier",
                        "sensitive": false
                    },
                    "Cache update strategy": {
                        "displayName": "Cache update strategy",
                        "identifiesControllerService": false,
                        "name": "Cache update strategy",
                        "sensitive": false
                    },
                    "Distributed Cache Service": {
                        "displayName": "Distributed Cache Service",
                        "identifiesControllerService": true,
                        "name": "Distributed Cache Service",
                        "sensitive": false
                    },
                    "Max cache entry size": {
                        "displayName": "Max cache entry size",
                        "identifiesControllerService": false,
                        "name": "Max cache entry size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutDistributedMapCache",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "678a2a15-d3c3-3bae-9769-4aa1c995fdda",
                "name": "PrepareGetCurrentBalance",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1035.4277820910388,
                    "y": 972.0188216920649
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-avro-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "c043f325-0cfa-3d03-bcfc-35dcdb1c31e5",
                "name": "Parse ARVO wallet.send_event",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 531.4276253713219,
                    "y": 132.89432250226616
                },
                "properties": {
                    "Avro schema": "\n{\n    \"type\": \"record\",\n    \"name\": \"Bonus\",\n    \"namespace\": \"net.flipsports.gmx.referral\",\n    \"fields\": [\n        {\n            \"name\": \"for_user\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"originator\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\" : \"company_id\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"event_type\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"transaction_id\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"amount\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"title\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"operation_subtype\",\n            \"type\" : \"string\"\n        },\n        {\n            \"name\" : \"api_message_request_id\",\n            \"type\" : \"string\"\n        }\n    ]\n}",
                    "JSON container options": "none",
                    "Wrap Single Record": "false"
                },
                "propertyDescriptors": {
                    "Avro schema": {
                        "displayName": "Avro schema",
                        "identifiesControllerService": false,
                        "name": "Avro schema",
                        "sensitive": false
                    },
                    "JSON container options": {
                        "displayName": "JSON container options",
                        "identifiesControllerService": false,
                        "name": "JSON container options",
                        "sensitive": false
                    },
                    "Wrap Single Record": {
                        "displayName": "Wrap Single Record",
                        "identifiesControllerService": false,
                        "name": "Wrap Single Record",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "8eeb19a0-1c62-3d41-84a5-e38c29ac24d1",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2976.9318214654477,
                    "y": 1195.8931252333878
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to call GetOrCreateWallet",
                    "log-prefix": "[ProcessController][ReferralBonus][${PROCESS_ID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "4b454a44-ac52-3efa-a689-4ceb4acb86a9",
                "name": "ConsumeKafka_2_0",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 530.4276864064782,
                    "y": -90.10567749773384
                },
                "properties": {
                    "Communications Timeout": "60 secs",
                    "auto.offset.reset": "earliest",
                    "bootstrap.servers": "${KAFKA_HOST}:${KAFKA_PORT}",
                    "group.id": "referral.bonus_${KAFKA_GROUP_ID_SUFIX}",
                    "honor-transactions": "true",
                    "key-attribute-encoding": "utf-8",
                    "max-uncommit-offset-wait": "1 secs",
                    "max.poll.records": "10000",
                    "message-header-encoding": "UTF-8",
                    "security.protocol": "PLAINTEXT",
                    "topic": "referral.bonus.test",
                    "topic_type": "names"
                },
                "propertyDescriptors": {
                    "Communications Timeout": {
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "name": "Communications Timeout",
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "name": "auto.offset.reset",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "group.id": {
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "name": "group.id",
                        "sensitive": false
                    },
                    "header-name-regex": {
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "name": "header-name-regex",
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "name": "honor-transactions",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "name": "max-uncommit-offset-wait",
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "name": "max.poll.records",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "topic_type": {
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "name": "topic_type",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "a7551b77-25fc-3659-9372-1e94210e4b24",
                "name": "PrepareReferralCreateHistory",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -1.2750682507580677,
                    "y": 971.4817123170649
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "1a331b8f-9fb8-3d27-a488-0bfd434b5eca",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2343.274347588387,
                    "y": 1429.1555188493292
                },
                "properties": {
                    "log-level": "error",
                    "log-prefix": "[ProcessController][ReferralBonus][${PROCESS_ID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "f1777549-cd62-3877-a49e-8fc2fd69f28a",
                "name": "LogMessage(ERROR)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -67.55113554718798,
                    "y": 347.7026717273462
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to extract JSON params from ${kafka.topic} at ${kafka.offset}",
                    "log-prefix": "[ProcessController][ReferralBonus][${PROCESS_ID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "cedbf6ed-cb16-35f6-a9d7-292eea0baeb4",
                "name": "DuplicateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 531.8185077535305,
                    "y": 551.9102144642643
                },
                "properties": {
                    "Number of Copies": "1"
                },
                "propertyDescriptors": {
                    "Number of Copies": {
                        "displayName": "Number of Copies",
                        "identifiesControllerService": false,
                        "name": "Number of Copies",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.DuplicateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "7a4bbec1-c069-3353-932a-063c21db9b38",
                "name": "Log incoming data",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1148.927967287089,
                    "y": 133.9076146707563
                },
                "properties": {
                    "Attributes to Log": "uuid",
                    "Log Level": "info",
                    "Log Payload": "true",
                    "Log prefix": "[ProcessController][ReferralBonus] ",
                    "attributes-to-log-regex": ".*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 5,
                "executionNode": "ALL",
                "groupIdentifier": "fa61b690-87e0-3d3f-b924-5936d919ece7",
                "identifier": "f48e5b36-9205-31d2-9c06-af4a5fdba85f",
                "name": "SkipUserWalletCreation",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1034.7792122478645,
                    "y": 1195.7130911544318
                },
                "properties": {
                    "include-empty-values": "false",
                    "lookup-service": "660ed4b6-14bb-3393-8e96-8216add7524f",
                    "user_has_wallet": "arn:user:has:wallet:${for_user}"
                },
                "propertyDescriptors": {
                    "include-empty-values": {
                        "displayName": "Include Empty Values",
                        "identifiesControllerService": false,
                        "name": "include-empty-values",
                        "sensitive": false
                    },
                    "lookup-service": {
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "name": "lookup-service",
                        "sensitive": false
                    },
                    "user_has_wallet": {
                        "displayName": "user_has_wallet",
                        "identifiesControllerService": false,
                        "name": "user_has_wallet",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LookupAttribute",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "",
        "flowIdentifier": "0fa127ce-dd09-5c6e-a629-51a6c16b1088",
        "timestamp": 1561680288708,
        "version": 1
    }
}