archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/InvokeHTTP/000000008.json
{
    "bucket": {
        "allowBundleRedeploy": false,
        "allowPublicRead": false,
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "externalControllerServices": {
        "660ed4b6-14bb-3393-8e96-8216add7524f": {
            "identifier": "660ed4b6-14bb-3393-8e96-8216add7524f",
            "name": "DistributedMapCacheLookupService"
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1555593150710,
        "description": "",
        "identifier": "28fb1156-039e-5d10-a8e9-a1c7dbdb4117",
        "modifiedTimestamp": 1582586526453,
        "name": "InvokeHTTP",
        "type": "Flow",
        "versionCount": 8
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "af710698-b3f7-3f60-a52c-d9ab33f18bff",
                    "name": "WakeUp every one minutes",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "dfe7d44d-2971-3f91-892f-44a296a70475",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a966a811-52cd-3edb-acfe-c325eab80feb",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 100,
                "bends": [
                    {
                        "x": 1574.55126953125,
                        "y": 209.62953186035156
                    },
                    {
                        "x": 966.5443115234375,
                        "y": 209.6295166015625
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "09d4a30d-b4aa-36cb-b747-745dea5c6896",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "5af42410-1eae-30b0-be72-c8923fdd252a",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5f46af39-a82e-314c-91ed-de09dc804a44",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "34ec8f1f-7517-3c69-a0fc-925214737c13",
                    "name": "[WARN]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "a188c75c-af4d-33c1-b8ba-9369584e0b10",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4ea1fdb0-ebc5-35ff-a663-e44529152dac",
                    "name": "LookupAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a966a811-52cd-3edb-acfe-c325eab80feb",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "9c2755c4-37cb-32ed-8aed-6eac15c62321",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "http_invoke.go_to_sleep"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a7d3ea02-2572-37a2-a4d4-c1f08adf6c13",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "cb4ab65d-5b77-3bcb-bcde-85c299b5f36c",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "42a9eb97-0e34-3e1d-a203-8ced40a91013",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a4eabb0e-c4f8-3678-b448-edc0d3859262",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5a8e972f-2790-3a8b-8120-bf417b3bca54",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "9136e3de-bad5-3882-8a04-d19d07b943bc",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "651aa499-132c-3600-91fd-6b4ec704b711",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "da4e13b1-ff51-3eb8-995c-38fc09908676",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "0ff87950-f3af-3453-b016-918684b3ef84",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "09d4a30d-b4aa-36cb-b747-745dea5c6896",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "c5840c73-5882-3883-9227-712d66918c0b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5c2df460-48a6-3f48-b2eb-168ca4c16092",
                    "name": "UpdateAttribute(priority 0)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4e35b71e-2745-3432-a0c1-65f49e62be9b",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "d0d4b56c-1094-3416-8f52-4fb0fae1b179",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5a8e972f-2790-3a8b-8120-bf417b3bca54",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "b2bb66f3-3391-3289-9c15-23e12461aadf",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "7183bb32-105b-39e0-a6be-1f9ed32ad9fd",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.PriorityAttributePrioritizer",
                    "org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer"
                ],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "09d4a30d-b4aa-36cb-b747-745dea5c6896",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "685aac0e-12e1-3f80-aa2e-34451233a5b6",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "ffb316c0-1888-3ee5-b2a3-3f611b9df5a9",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a7d3ea02-2572-37a2-a4d4-c1f08adf6c13",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2562.7629594925434,
                        "y": 37.43341570623545
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4ea1fdb0-ebc5-35ff-a663-e44529152dac",
                    "name": "LookupAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "2d5fa744-d356-36ef-abde-06d53b1f410e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "34ec8f1f-7517-3c69-a0fc-925214737c13",
                    "name": "[WARN]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5f46af39-a82e-314c-91ed-de09dc804a44",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "d76507f1-b895-354a-9405-c14709b4295a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4e35b71e-2745-3432-a0c1-65f49e62be9b",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "c1343d9a-27c3-3acb-8c8d-32c07143b5a2",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "d4fdf4e3-27a7-3e11-b2a2-a8c213c6ecad",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "b2bb66f3-3391-3289-9c15-23e12461aadf",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a7d3ea02-2572-37a2-a4d4-c1f08adf6c13",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "916d7ec2-de23-3261-bb5c-338dac5aa0d4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "c1343d9a-27c3-3acb-8c8d-32c07143b5a2",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "a4eabb0e-c4f8-3678-b448-edc0d3859262",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "5e4f0ff6-a8be-3455-9a93-853447e15a0c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Response"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "b2bb66f3-3391-3289-9c15-23e12461aadf",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000,
                "bends": [
                    {
                        "x": 2200.006591796875,
                        "y": 252.9662322998047
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5c2df460-48a6-3f48-b2eb-168ca4c16092",
                    "name": "UpdateAttribute(priority 0)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "ceefd844-0c3d-3752-86e8-cdd20f8c454a",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4ea1fdb0-ebc5-35ff-a663-e44529152dac",
                    "name": "LookupAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1251.7537841796875,
                        "y": 597.3215026855469
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "0ff87950-f3af-3453-b016-918684b3ef84",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "0b78bce5-57a8-33d0-a0ba-7486b0a6f2e8",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "No Retry"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "b2bb66f3-3391-3289-9c15-23e12461aadf",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "e8ef325b-997d-31d2-9e40-29141ad68938",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "7aa86541-b848-385e-95b2-d24e8f085075",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "685aac0e-12e1-3f80-aa2e-34451233a5b6",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4ea1fdb0-ebc5-35ff-a663-e44529152dac",
                    "name": "LookupAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "667c78e1-098f-3c25-b44b-e71b42ba0dde",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "fetch_token"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "5f46af39-a82e-314c-91ed-de09dc804a44",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "4e35b71e-2745-3432-a0c1-65f49e62be9b",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "14e1f379-ef13-33f2-9066-8f3cb61a0d7a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                    "id": "af710698-b3f7-3f60-a52c-d9ab33f18bff",
                    "name": "WakeUp every one minutes",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "09d4a30d-b4aa-36cb-b747-745dea5c6896",
                "position": {
                    "x": 948.9898589933084,
                    "y": 232.30717077467688
                }
            }
        ],
        "identifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
        "inputPorts": [
            {
                "allowRemoteAccess": false,
                "comments": "",
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "818ad834-7fba-33fe-8281-d0d289a803d9",
                "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                "position": {
                    "x": 841.9620980546167,
                    "y": -278.79264034832613
                },
                "type": "INPUT_PORT"
            }
        ],
        "labels": [
            {
                "componentType": "LABEL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "height": 78.10861206054688,
                "identifier": "107f3973-479b-36c5-a405-3e224b4294f7",
                "label": "",
                "position": {
                    "x": 2036.609705363766,
                    "y": 376.6205520497033
                },
                "style": {
                    "background-color": "#adff9e"
                },
                "width": 292.7702178955078
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "height": 85.91120910644531,
                "identifier": "cfd7214f-c0cf-3120-87ce-4db8cd502cd5",
                "label": "",
                "position": {
                    "x": 2038.9050258587174,
                    "y": 876.5341237617746
                },
                "style": {},
                "width": 285.1872863769531
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "height": 115.37564849853516,
                "identifier": "eb87b831-2990-39c4-82ef-e974f9d0eedc",
                "label": "Attributes used:\n\n- http_invoke.target_url\n- http_invoke.headers.authorization\n- http_invoke.method\n- http_invoke.mime_type\n\n- http_invoke.max_retries (default 3)\n- http_invoke.counter - always sets to zero at beginning\n",
                "position": {
                    "x": 369.43640225383547,
                    "y": -352.797248502623
                },
                "style": {
                    "font-size": "12px"
                },
                "width": 346.29998779296875
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "height": 88.91537475585938,
                "identifier": "28a7b984-3d00-3121-a1c7-8468bbdbaa24",
                "label": "",
                "position": {
                    "x": 2042.6605540310984,
                    "y": 557.9315298066914
                },
                "style": {
                    "background-color": "#ff7a7a"
                },
                "width": 274.1720275878906
            }
        ],
        "name": "InvokeHTTP",
        "outputPorts": [
            {
                "allowRemoteAccess": false,
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "cb4ab65d-5b77-3bcb-bcde-85c299b5f36c",
                "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                "position": {
                    "x": 2061.241700105398,
                    "y": 390.9584201375137
                },
                "type": "OUTPUT_PORT"
            },
            {
                "allowRemoteAccess": false,
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "e8ef325b-997d-31d2-9e40-29141ad68938",
                "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                "position": {
                    "x": 2061.0591373781917,
                    "y": 890.5535596744037
                },
                "type": "OUTPUT_PORT"
            },
            {
                "allowRemoteAccess": false,
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "651aa499-132c-3600-91fd-6b4ec704b711",
                "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                "position": {
                    "x": 2060.239258699148,
                    "y": 574.980697969545
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1432.2604501505757,
            "y": 716.3056030928157
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "4e35b71e-2745-3432-a0c1-65f49e62be9b",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 787.149050529734,
                    "y": 46.16104224630175
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "${http_invoke.method:toUpper()}: ${http_invoke.target_url} for the ${http_invoke.counter:plus(1)} time.",
                    "log-prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "Original"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 5,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "b2bb66f3-3391-3289-9c15-23e12461aadf",
                "name": "InvokeHTTP",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 792.035401277273,
                    "y": 339.28690181170805
                },
                "properties": {
                    "Add Response Headers to Request": "false",
                    "Always Output Response": "false",
                    "Authorization": "Bearer ${http_invoke.headers.authorization}",
                    "Connection Timeout": "5 secs",
                    "Content-Type": "${http_invoke.mime_type}",
                    "Digest Authentication": "false",
                    "FS-Api-Message-Id": "NIFI__${PROCESS_ID}",
                    "Follow Redirects": "True",
                    "HTTP Method": "${http_invoke.method}",
                    "Include Date Header": "True",
                    "Max Length To Put In Attribute": "256",
                    "Penalize on \"No Retry\"": "false",
                    "Proxy Type": "http",
                    "Read Timeout": "300 sec",
                    "Remote URL": "${http_invoke.target_url}",
                    "Use Chunked Encoding": "false",
                    "etag-max-cache-size": "10MB",
                    "send-message-body": "true",
                    "use-etag": "false"
                },
                "propertyDescriptors": {
                    "Add Response Headers to Request": {
                        "displayName": "Add Response Headers to Request",
                        "identifiesControllerService": false,
                        "name": "Add Response Headers to Request",
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "displayName": "Always Output Response",
                        "identifiesControllerService": false,
                        "name": "Always Output Response",
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "displayName": "Attributes to Send",
                        "identifiesControllerService": false,
                        "name": "Attributes to Send",
                        "sensitive": false
                    },
                    "Authorization": {
                        "displayName": "Authorization",
                        "identifiesControllerService": false,
                        "name": "Authorization",
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "displayName": "Basic Authentication Password",
                        "identifiesControllerService": false,
                        "name": "Basic Authentication Password",
                        "sensitive": true
                    },
                    "Basic Authentication Username": {
                        "displayName": "Basic Authentication Username",
                        "identifiesControllerService": false,
                        "name": "Basic Authentication Username",
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "name": "Connection Timeout",
                        "sensitive": false
                    },
                    "Content-Type": {
                        "displayName": "Content-Type",
                        "identifiesControllerService": false,
                        "name": "Content-Type",
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "displayName": "Use Digest Authentication",
                        "identifiesControllerService": false,
                        "name": "Digest Authentication",
                        "sensitive": false
                    },
                    "FS-Api-Message-Id": {
                        "displayName": "FS-Api-Message-Id",
                        "identifiesControllerService": false,
                        "name": "FS-Api-Message-Id",
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "displayName": "Follow Redirects",
                        "identifiesControllerService": false,
                        "name": "Follow Redirects",
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "name": "HTTP Method",
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "displayName": "Include Date Header",
                        "identifiesControllerService": false,
                        "name": "Include Date Header",
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "displayName": "Max Length To Put In Attribute",
                        "identifiesControllerService": false,
                        "name": "Max Length To Put In Attribute",
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "displayName": "Penalize on \"No Retry\"",
                        "identifiesControllerService": false,
                        "name": "Penalize on \"No Retry\"",
                        "sensitive": false
                    },
                    "Proxy Host": {
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "name": "Proxy Host",
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "name": "Proxy Port",
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "name": "Proxy Type",
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "displayName": "Put Response Body In Attribute",
                        "identifiesControllerService": false,
                        "name": "Put Response Body In Attribute",
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "displayName": "Read Timeout",
                        "identifiesControllerService": false,
                        "name": "Read Timeout",
                        "sensitive": false
                    },
                    "Remote URL": {
                        "displayName": "Remote URL",
                        "identifiesControllerService": false,
                        "name": "Remote URL",
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "SSL Context Service",
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "displayName": "Use Chunked Encoding",
                        "identifiesControllerService": false,
                        "name": "Use Chunked Encoding",
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "displayName": "Maximum ETag Cache Size",
                        "identifiesControllerService": false,
                        "name": "etag-max-cache-size",
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "name": "invokehttp-proxy-password",
                        "sensitive": true
                    },
                    "invokehttp-proxy-user": {
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "name": "invokehttp-proxy-user",
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "name": "proxy-configuration-service",
                        "sensitive": false
                    },
                    "send-message-body": {
                        "displayName": "Send Message Body",
                        "identifiesControllerService": false,
                        "name": "send-message-body",
                        "sensitive": false
                    },
                    "use-etag": {
                        "displayName": "Use HTTP ETag",
                        "identifiesControllerService": false,
                        "name": "use-etag",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 250,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#84fa8e"
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "af710698-b3f7-3f60-a52c-d9ab33f18bff",
                "name": "WakeUp every one minutes",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -525.0013888624932,
                    "y": 45.79768212692068
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Continuing ",
                    "log-prefix": "[${PROCESS_ID}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "60 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "a7d3ea02-2572-37a2-a4d4-c1f08adf6c13",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 118.66447948516407,
                    "y": 849.4199302763741
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "http_invoke.go_to_sleep": "${http_invoke.counter:le(${http_invoke.max_retries})}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "http_invoke.go_to_sleep": {
                        "displayName": "http_invoke.go_to_sleep",
                        "identifiesControllerService": false,
                        "name": "http_invoke.go_to_sleep",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "a4eabb0e-c4f8-3678-b448-edc0d3859262",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1400.455611189304,
                    "y": 350.852377037936
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Success",
                    "log-prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "5f46af39-a82e-314c-91ed-de09dc804a44",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1397.0443812250471,
                    "y": 46.5725347339544
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "fetch_token": "${SKIP_FETCH_TOKEN:toUpper():equals('TRUE'):not():and(${ID_TOKEN_KEY:isEmpty():not()})}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "fetch_token": {
                        "displayName": "fetch_token",
                        "identifiesControllerService": false,
                        "name": "fetch_token",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "5a8e972f-2790-3a8b-8120-bf417b3bca54",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 787.3722543046167,
                    "y": -169.74076809490816
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "http_invoke.counter": "0",
                    "http_invoke.max_retries": "${http_invoke.max_retries:replaceNull(3)}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.counter": {
                        "displayName": "http_invoke.counter",
                        "identifiesControllerService": false,
                        "name": "http_invoke.counter",
                        "sensitive": false
                    },
                    "http_invoke.max_retries": {
                        "displayName": "http_invoke.max_retries",
                        "identifiesControllerService": false,
                        "name": "http_invoke.max_retries",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "34ec8f1f-7517-3c69-a0fc-925214737c13",
                "name": "[WARN]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2750.4222859939914,
                    "y": 48.294302086764105
                },
                "properties": {
                    "log-level": "warn",
                    "log-message": "Retrying fetch data from Redis",
                    "log-prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "0ff87950-f3af-3453-b016-918684b3ef84",
                "name": "[ERROR]LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1401.452769629041,
                    "y": 532.3483579332483
                },
                "properties": {
                    "Log Level": "error",
                    "Log Payload": "true",
                    "Log prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] ",
                    "attributes-to-log-regex": "invokehttp\\..*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "a966a811-52cd-3edb-acfe-c325eab80feb",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -526.4489397254808,
                    "y": 849.4247382694549
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Going to sleep.",
                    "log-prefix": "[${PROCESS_ID}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "5c2df460-48a6-3f48-b2eb-168ca4c16092",
                "name": "UpdateAttribute(priority 0)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1696.674635038135,
                    "y": 188.2031319998951
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "priority": "0"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "priority": {
                        "displayName": "priority",
                        "identifiesControllerService": false,
                        "name": "priority",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "685aac0e-12e1-3f80-aa2e-34451233a5b6",
                "name": "[ERROR]LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1407.972300879041,
                    "y": 853.0354917223108
                },
                "properties": {
                    "Log Level": "error",
                    "Log Payload": "false",
                    "Log prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] ",
                    "attributes-to-log-regex": "invokehttp\\..*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "annotationData": "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n</criteria>",
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "c1343d9a-27c3-3acb-8c8d-32c07143b5a2",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 109.32916729900148,
                    "y": 343.0741427937637
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "http_invoke.counter": "${http_invoke.counter:plus(1)}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.counter": {
                        "displayName": "http_invoke.counter",
                        "identifiesControllerService": false,
                        "name": "http_invoke.counter",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "1cc7bd8f-daf0-3b60-a766-81014f1a6c94",
                "identifier": "4ea1fdb0-ebc5-35ff-a663-e44529152dac",
                "name": "LookupAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2025.1036329910953,
                    "y": 46.572529325706796
                },
                "properties": {
                    "http_invoke.headers.authorization": "id_token__${ID_TOKEN_KEY}",
                    "include-empty-values": "false",
                    "lookup-service": "660ed4b6-14bb-3393-8e96-8216add7524f"
                },
                "propertyDescriptors": {
                    "http_invoke.headers.authorization": {
                        "displayName": "http_invoke.headers.authorization",
                        "identifiesControllerService": false,
                        "name": "http_invoke.headers.authorization",
                        "sensitive": false
                    },
                    "include-empty-values": {
                        "displayName": "Include Empty Values",
                        "identifiesControllerService": false,
                        "name": "include-empty-values",
                        "sensitive": false
                    },
                    "lookup-service": {
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "name": "lookup-service",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LookupAttribute",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "flowEncodingVersion": "1.0",
    "parameterContexts": {},
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "added SKIP_FETCH_TOKEN",
        "flowIdentifier": "28fb1156-039e-5d10-a8e9-a1c7dbdb4117",
        "timestamp": 1582586526347,
        "version": 8
    }
}