archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/InvokeJIRA/000000001.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1574443348030,
        "description": "",
        "identifier": "7c77d44d-0f9a-5e50-b517-d6479681e3f2",
        "modifiedTimestamp": 1574443348148,
        "name": "InvokeJIRA",
        "type": "Flow",
        "versionCount": 1
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "ca168a69-8fbb-3372-8b0f-6fd0081f90fe",
                    "name": "WakeUp every one minutes",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "f88ac459-27c3-3000-ad17-1653a9070414",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "d19c8d3b-5b50-372f-84d9-ccbd3346f388",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "fdbaf4e2-03e6-3696-97f8-189c2f0c36ae",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "27cd85ae-9eae-3dc1-9432-ac7267a3288d",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "0bee2c99-090f-3a21-9d87-05c93381a7c9",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "d19c8d3b-5b50-372f-84d9-ccbd3346f388",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "81620310-6fe1-3a84-b454-36cce8989528",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "http_invoke.go_to_sleep"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "ae23294b-09b4-3ca0-b87f-81770d9b7929",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "b45f2b67-d13b-3cd6-898a-0c6fc2043a9b",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "e8e250fb-b9e8-36c7-a3bb-ba5d0b098bdc",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "aaf48613-c149-32fb-86f8-1ddc5031f0c4",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "ae23294b-09b4-3ca0-b87f-81770d9b7929",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "d1dea59b-e92d-3fb8-886b-4814642dfa5d",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "63456d83-9e5f-326b-acb0-5b4a87a93c69",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "e6b4a7f4-1ce2-3ab4-8774-f06054f4c5db",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "43c09811-06b0-361e-b917-5253021ae82a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "ca168a69-8fbb-3372-8b0f-6fd0081f90fe",
                    "name": "WakeUp every one minutes",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 973.7969970703125,
                        "y": 256.60125732421875
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "22b19d9a-a42b-35ea-992a-32ff07caecfd",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "049682a4-44f1-38be-ab6e-2272517e87b7",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "No Retry"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "52ae7b2b-6bf7-3837-aa16-0b4e690d8ae4",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "e6b4a7f4-1ce2-3ab4-8774-f06054f4c5db",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "eecbca8b-ab3f-3bf9-902e-2f7369a38bb9",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "7ab63bf5-5cc8-3ec4-907d-009b376b7c65",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "aaf48613-c149-32fb-86f8-1ddc5031f0c4",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "7a2a17fb-a45d-3d3e-b808-409631b41bc7",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Response"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "52ae7b2b-6bf7-3837-aa16-0b4e690d8ae4",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "0bee2c99-090f-3a21-9d87-05c93381a7c9",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "f443e680-e0b7-3496-a220-a11c193bb43c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "ae23294b-09b4-3ca0-b87f-81770d9b7929",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "7ab63bf5-5cc8-3ec4-907d-009b376b7c65",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "6f20eab9-7bc1-3c0a-a6e2-60017480454e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "1792e248-4f29-3dc8-8306-17ea60afcb41",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "63456d83-9e5f-326b-acb0-5b4a87a93c69",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "cad60834-fbbc-391b-b739-5b2de7e7aff9",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "52ae7b2b-6bf7-3837-aa16-0b4e690d8ae4",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "da0db55e-29a1-397e-b073-a6e945a5603f",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "e63c8603-b0e8-3e6c-a895-21deb8da7fbe",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "22b19d9a-a42b-35ea-992a-32ff07caecfd",
                    "name": "[ERROR]LogAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "52ae7b2b-6bf7-3837-aa16-0b4e690d8ae4",
                    "name": "InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "cb3e8a5a-c569-3c62-8c74-3cf8dc5a864d",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "63baf25b-fa91-3516-b863-add5d118cb74",
                    "id": "e6b4a7f4-1ce2-3ab4-8774-f06054f4c5db",
                    "name": "[INFO]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [],
        "identifier": "63baf25b-fa91-3516-b863-add5d118cb74",
        "inputPorts": [
            {
                "comments": "",
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "1792e248-4f29-3dc8-8306-17ea60afcb41",
                "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                "position": {
                    "x": 855.7715166749879,
                    "y": -594.021743436705
                },
                "type": "INPUT_PORT"
            }
        ],
        "labels": [
            {
                "componentType": "LABEL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "height": 88.91537475585938,
                "identifier": "cd1f87e3-5981-3e42-8915-4b4c989544bd",
                "label": "",
                "position": {
                    "x": 2048.7142649685984,
                    "y": 214.84452419145703
                },
                "style": {
                    "background-color": "#ff7a7a"
                },
                "width": 274.1720275878906
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "height": 78.10861206054688,
                "identifier": "20189879-c448-3667-bdd8-c03c59531102",
                "label": "",
                "position": {
                    "x": 2042.663416301266,
                    "y": 33.53354643446892
                },
                "style": {
                    "background-color": "#adff9e"
                },
                "width": 292.7702178955078
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "height": 85.91120910644531,
                "identifier": "3171cdae-205a-3a8d-8bb0-afc533b23427",
                "label": "",
                "position": {
                    "x": 2044.9587367962174,
                    "y": 533.4471181465402
                },
                "style": {},
                "width": 285.1872863769531
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "height": 126.63383483886719,
                "identifier": "c825be25-4eec-3e26-9af9-64456dd212d0",
                "label": "Attributes used:\n\n- http_invoke.original_target_url\n- http_invoke.method\n- http_invoke.mime_type\n\n - skip_adding_channel_to_request When set to TRUE SbTech channel token will not be fetched and added to URL\n\n- http_invoke.max_retries (default 3)\n- http_invoke.counter - always sets to zero at beginning\n",
                "position": {
                    "x": -49.93081576374266,
                    "y": -435.82633175457613
                },
                "style": {
                    "font-size": "12px"
                },
                "width": 686.8599548339844
            }
        ],
        "name": "InvokeJIRA(CreateTask)",
        "outputPorts": [
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "b45f2b67-d13b-3cd6-898a-0c6fc2043a9b",
                "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                "position": {
                    "x": 2067.295411042898,
                    "y": 41.98263380958764
                },
                "type": "OUTPUT_PORT"
            },
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "fdbaf4e2-03e6-3696-97f8-189c2f0c36ae",
                "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                "position": {
                    "x": 2067.1128483156917,
                    "y": 547.4665540591693
                },
                "type": "OUTPUT_PORT"
            },
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "da0db55e-29a1-397e-b073-a6e945a5603f",
                "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                "position": {
                    "x": 2066.292969636648,
                    "y": 231.8936923543106
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 2930.145539446028,
            "y": 3540.5291493251393
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "0bee2c99-090f-3a21-9d87-05c93381a7c9",
                "name": "[ERROR]LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1414.026011816541,
                    "y": 509.9484861070764
                },
                "properties": {
                    "Log Level": "error",
                    "Log Payload": "false",
                    "Log prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] ",
                    "attributes-to-log-regex": "invokehttp\\..*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "annotationData": "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n</criteria>",
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "63456d83-9e5f-326b-acb0-5b4a87a93c69",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 120.05053432958277,
                    "y": 1.9826338095876395
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "http_invoke.counter": "${http_invoke.counter:plus(1)}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.counter": {
                        "displayName": "http_invoke.counter",
                        "identifiesControllerService": false,
                        "name": "http_invoke.counter",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 50,
                "schedulingPeriod": "60 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "ae23294b-09b4-3ca0-b87f-81770d9b7929",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 120.05053432958277,
                    "y": 506.3329246611397
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "http_invoke.go_to_sleep": "${http_invoke.counter:le(${http_invoke.max_retries})}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "http_invoke.go_to_sleep": {
                        "displayName": "http_invoke.go_to_sleep",
                        "identifiesControllerService": false,
                        "name": "http_invoke.go_to_sleep",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "aaf48613-c149-32fb-86f8-1ddc5031f0c4",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1406.509322126804,
                    "y": 1.9826338095876395
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Success",
                    "log-prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "7ab63bf5-5cc8-3ec4-907d-009b376b7c65",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 800.7715166749879,
                    "y": -486.24233212078707
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "http_invoke.counter": "0",
                    "http_invoke.max_retries": "${http_invoke.max_retries:replaceNull(3)}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.counter": {
                        "displayName": "http_invoke.counter",
                        "identifiesControllerService": false,
                        "name": "http_invoke.counter",
                        "sensitive": false
                    },
                    "http_invoke.max_retries": {
                        "displayName": "http_invoke.max_retries",
                        "identifiesControllerService": false,
                        "name": "http_invoke.max_retries",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "e6b4a7f4-1ce2-3ab4-8774-f06054f4c5db",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 800.7715166749879,
                    "y": -259.19472693015905
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "${http_invoke.method:toUpper()}: ${http_invoke.target_url} for the ${http_invoke.counter:plus(1)} time.",
                    "log-prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "ca168a69-8fbb-3372-8b0f-6fd0081f90fe",
                "name": "WakeUp every one minutes",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -520.3665674922293,
                    "y": -259.19472693015905
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Continuing ",
                    "log-prefix": "[${PROCESS_ID}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "60 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "d19c8d3b-5b50-372f-84d9-ccbd3346f388",
                "name": "[INFO]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -520.3665674922293,
                    "y": 499.06786508087635
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Going to sleep.",
                    "log-prefix": "[${PROCESS_ID}][InvokeHTTP] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "22b19d9a-a42b-35ea-992a-32ff07caecfd",
                "name": "[ERROR]LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1407.506480566541,
                    "y": 189.2613523180139
                },
                "properties": {
                    "Log Level": "error",
                    "Log Payload": "true",
                    "Log prefix": "[${PROCESS_ID:replaceNull('UNKNOWN')}][InvokeHTTP] ",
                    "attributes-to-log-regex": "invokehttp\\..*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffff"
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "Original"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 5,
                "executionNode": "ALL",
                "groupIdentifier": "63baf25b-fa91-3516-b863-add5d118cb74",
                "identifier": "52ae7b2b-6bf7-3837-aa16-0b4e690d8ae4",
                "name": "InvokeHTTP",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 800.7715166749879,
                    "y": 1.9826338095876395
                },
                "properties": {
                    "Add Response Headers to Request": "false",
                    "Always Output Response": "false",
                    "Authorization": "Basic ${JIRA_BASE64_TOKEN}",
                    "Connection Timeout": "5 secs",
                    "Content-Type": "${http_invoke.mime_type}",
                    "Digest Authentication": "false",
                    "Follow Redirects": "True",
                    "HTTP Method": "${http_invoke.method}",
                    "Include Date Header": "True",
                    "Max Length To Put In Attribute": "256",
                    "Penalize on \"No Retry\"": "false",
                    "Proxy Type": "http",
                    "Read Timeout": "300 sec",
                    "Remote URL": "${http_invoke.target_url}",
                    "Use Chunked Encoding": "false",
                    "etag-max-cache-size": "10MB",
                    "send-message-body": "true",
                    "use-etag": "false"
                },
                "propertyDescriptors": {
                    "Add Response Headers to Request": {
                        "displayName": "Add Response Headers to Request",
                        "identifiesControllerService": false,
                        "name": "Add Response Headers to Request",
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "displayName": "Always Output Response",
                        "identifiesControllerService": false,
                        "name": "Always Output Response",
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "displayName": "Attributes to Send",
                        "identifiesControllerService": false,
                        "name": "Attributes to Send",
                        "sensitive": false
                    },
                    "Authorization": {
                        "displayName": "Authorization",
                        "identifiesControllerService": false,
                        "name": "Authorization",
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "displayName": "Basic Authentication Password",
                        "identifiesControllerService": false,
                        "name": "Basic Authentication Password",
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "displayName": "Basic Authentication Username",
                        "identifiesControllerService": false,
                        "name": "Basic Authentication Username",
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "name": "Connection Timeout",
                        "sensitive": false
                    },
                    "Content-Type": {
                        "displayName": "Content-Type",
                        "identifiesControllerService": false,
                        "name": "Content-Type",
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "displayName": "Use Digest Authentication",
                        "identifiesControllerService": false,
                        "name": "Digest Authentication",
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "displayName": "Follow Redirects",
                        "identifiesControllerService": false,
                        "name": "Follow Redirects",
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "name": "HTTP Method",
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "displayName": "Include Date Header",
                        "identifiesControllerService": false,
                        "name": "Include Date Header",
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "displayName": "Max Length To Put In Attribute",
                        "identifiesControllerService": false,
                        "name": "Max Length To Put In Attribute",
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "displayName": "Penalize on \"No Retry\"",
                        "identifiesControllerService": false,
                        "name": "Penalize on \"No Retry\"",
                        "sensitive": false
                    },
                    "Proxy Host": {
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "name": "Proxy Host",
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "name": "Proxy Port",
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "name": "Proxy Type",
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "displayName": "Put Response Body In Attribute",
                        "identifiesControllerService": false,
                        "name": "Put Response Body In Attribute",
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "displayName": "Read Timeout",
                        "identifiesControllerService": false,
                        "name": "Read Timeout",
                        "sensitive": false
                    },
                    "Remote URL": {
                        "displayName": "Remote URL",
                        "identifiesControllerService": false,
                        "name": "Remote URL",
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "SSL Context Service",
                        "sensitive": false
                    },
                    "Trusted Hostname": {
                        "displayName": "Trusted Hostname",
                        "identifiesControllerService": false,
                        "name": "Trusted Hostname",
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "displayName": "Use Chunked Encoding",
                        "identifiesControllerService": false,
                        "name": "Use Chunked Encoding",
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "displayName": "Maximum ETag Cache Size",
                        "identifiesControllerService": false,
                        "name": "etag-max-cache-size",
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "name": "invokehttp-proxy-password",
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "name": "invokehttp-proxy-user",
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "name": "proxy-configuration-service",
                        "sensitive": false
                    },
                    "send-message-body": {
                        "displayName": "Send Message Body",
                        "identifiesControllerService": false,
                        "name": "send-message-body",
                        "sensitive": false
                    },
                    "use-etag": {
                        "displayName": "Use HTTP ETag",
                        "identifiesControllerService": false,
                        "name": "use-etag",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#84fa8e"
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "",
        "flowIdentifier": "7c77d44d-0f9a-5e50-b517-d6479681e3f2",
        "timestamp": 1574443348046,
        "version": 1
    }
}