archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/WalletTopUp/ProcessExtTopUpUser/000000004.json
{
    "bucket": {
        "createdTimestamp": 1574854440763,
        "identifier": "487caa91-93e8-5541-b5b8-3708097dbcf7",
        "name": "WalletTopUp",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "487caa91-93e8-5541-b5b8-3708097dbcf7",
        "bucketName": "WalletTopUp",
        "createdTimestamp": 1574856908382,
        "description": "",
        "identifier": "15a830e4-4069-5158-b9a7-0f89cbe33bc8",
        "modifiedTimestamp": 1581436364272,
        "name": "ProcessExtTopUpUser",
        "type": "Flow",
        "versionCount": 4
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "64aa015e-8f55-3697-a232-590770007ec9",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "8050f214-7e18-3593-89b0-97f028bdfe75",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "4fadae64-f87b-3be9-9306-ba2610a5b5d2",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 100000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "7aa47371-62e4-3a8e-b6dc-1d34bb000085",
                    "name": "PrepareBody",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "3d604c20-3b23-3219-a6c3-0a41827865a4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3a209cc6-c9c1-3633-ac54-eea77c694bba",
                    "name": "PrepareCreateWalletLine",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3a209cc6-c9c1-3633-ac54-eea77c694bba",
                    "name": "PrepareCreateWalletLine",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "4ea13523-4bd1-37df-b9fd-91ba83e84e53",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "14df9576-29d9-3b43-9393-3c750e7a58f8",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3d6496dc-5fe0-3799-a23b-66927251dd4d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "bf16a495-ba21-3cf8-997b-7ac64c36c79a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "c785b901-6174-388d-bbbd-db6bfa9d7b9e",
                    "id": "30f4af3a-6c63-3ea3-98b6-12249b0ff8f4",
                    "name": "error (30f4af3a-6c63-3ea3-98b6-12249b0ff8f4)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f8697452-43f1-3b46-ba8d-98106bb28658",
                    "name": "RouteOnAttribute(Check empty)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "1e11e50a-28ac-3730-8119-09a28aeccb2a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "e575002f-c4c5-3dc0-85c6-3ba6910a88c0",
                    "name": "PROCESS_ID and defaults",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2616.797607421875,
                        "y": 1124.8080444335938
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "c600cbff-5700-317b-8c91-b031d400f8d5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "6e028630-3d96-3480-96df-5884093b309b",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "78a25377-2d98-3b3b-b807-19665b3127ba",
                    "id": "e8ef325b-997d-31d2-9e40-29141ad68938",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "5cee1a00-a0a8-3ccf-8823-a2640c973c45",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "9d82bcfd-5bf3-3d64-8cb5-de8778440914",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "78a25377-2d98-3b3b-b807-19665b3127ba",
                    "id": "cb4ab65d-5b77-3bcb-bcde-85c299b5f36c",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2859.5153198242188,
                        "y": 468.09230041503906
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "532540f3-7d64-3b50-9a11-37be076dc820",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "58e818a8-6684-388c-9466-02b77a93faa7",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                    "id": "651aa499-132c-3600-91fd-6b4ec704b711",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 1
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f7ce1aef-5f16-3998-81f6-a5ce6fefe844",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "0d8d051c-19d8-35ad-bb6d-c4e9f8b60b22",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "7aa47371-62e4-3a8e-b6dc-1d34bb000085",
                    "name": "PrepareBody",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "2dedd1ab-5865-3ecf-8424-5e177514ea43",
                    "name": "DropTestUsers",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "7564cd05-398b-3f17-bbcd-d0f03ee1d2be",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "user_not_exists"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3d6496dc-5fe0-3799-a23b-66927251dd4d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 3204.345458984375,
                        "y": 370.925048828125
                    },
                    {
                        "x": 2452.20166015625,
                        "y": 370.8165283203125
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "ef33a566-b567-357b-b7e5-bd8356b391b2",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "532540f3-7d64-3b50-9a11-37be076dc820",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "64aa015e-8f55-3697-a232-590770007ec9",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "185db786-38fc-385d-8b31-8d38d4de25de",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f3e4f1c3-5e1d-34f2-a7f4-bd7e276740bc",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "9476ad6b-14e1-360a-aab0-4cf055b5bcd1",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "7c029c1c-8370-341c-a7b7-172b3413c5d2",
                    "name": "PrepareGetOrCreateWallet",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 100000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "78a25377-2d98-3b3b-b807-19665b3127ba",
                    "id": "818ad834-7fba-33fe-8281-d0d289a803d9",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "2b3ff1eb-0113-32ec-97e3-306b6cfb0413",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "7aa47371-62e4-3a8e-b6dc-1d34bb000085",
                    "name": "PrepareBody",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000000,
                "bends": [
                    {
                        "x": -228.27923583984375,
                        "y": 177.53402709960938
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "465ad092-85fa-3eb4-a27a-1a6295a3e4e5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "5ae8f125-5493-3e2e-853b-b0bcc8be154e",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "2dedd1ab-5865-3ecf-8424-5e177514ea43",
                    "name": "DropTestUsers",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "c785b901-6174-388d-bbbd-db6bfa9d7b9e",
                    "id": "cdf8d234-226d-3d39-9779-e19c2d99e1c5",
                    "name": "start (cdf8d234-226d-3d39-9779-e19c2d99e1c5)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "d33b4906-41be-3ac9-9929-478969611118",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "465ad092-85fa-3eb4-a27a-1a6295a3e4e5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "14df9576-29d9-3b43-9393-3c750e7a58f8",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "5fd8f8c8-1b31-39f1-893d-07d21a4fd2dd",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f7ce1aef-5f16-3998-81f6-a5ce6fefe844",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f3e4f1c3-5e1d-34f2-a7f4-bd7e276740bc",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "d5245069-4f86-3917-a41a-8e2a1e2c0d61",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                    "id": "cb4ab65d-5b77-3bcb-bcde-85c299b5f36c",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2088.818603515625,
                        "y": 1265.2720336914062
                    },
                    {
                        "x": 1033.1568603515625,
                        "y": 1266.0245971679688
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "14df9576-29d9-3b43-9393-3c750e7a58f8",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "149d64c0-321c-394f-834a-7a2486119ec3",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "c600cbff-5700-317b-8c91-b031d400f8d5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "0d84a63a-43de-3ca3-9fa9-add9f12d7e08",
                    "name": "LogMessage[WARN]",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "0a5947bb-6c1b-3d4f-8745-b787921e6d72",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "empty"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f8697452-43f1-3b46-ba8d-98106bb28658",
                    "name": "RouteOnAttribute(Check empty)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2863.8410034179688,
                        "y": 603.6574859619141
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "532540f3-7d64-3b50-9a11-37be076dc820",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "21a62bdf-2443-32ef-a09d-17ee4951504c",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                    "id": "e8ef325b-997d-31d2-9e40-29141ad68938",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "7c029c1c-8370-341c-a7b7-172b3413c5d2",
                    "name": "PrepareGetOrCreateWallet",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "8b0dc031-1317-3636-9e96-3fbb4990dc3d",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "4fadae64-f87b-3be9-9306-ba2610a5b5d2",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 100000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3a209cc6-c9c1-3633-ac54-eea77c694bba",
                    "name": "PrepareCreateWalletLine",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "0035af29-d02d-3239-b23d-7468dc6c6013",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "64aa015e-8f55-3697-a232-590770007ec9",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "465ad092-85fa-3eb4-a27a-1a6295a3e4e5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "ece9a5b7-ced8-30f3-8a72-e890b4e1a86e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "3d6496dc-5fe0-3799-a23b-66927251dd4d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 100000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "4fadae64-f87b-3be9-9306-ba2610a5b5d2",
                    "name": "SkipUserWalletCreation",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "89ded704-509c-3366-896a-03965f0527c6",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "c785b901-6174-388d-bbbd-db6bfa9d7b9e",
                    "id": "b8dc0634-922e-37c1-8b4b-7d963e7e16c3",
                    "name": "output (b8dc0634-922e-37c1-8b4b-7d963e7e16c3)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "c785b901-6174-388d-bbbd-db6bfa9d7b9e",
                    "id": "cdf8d234-226d-3d39-9779-e19c2d99e1c5",
                    "name": "start (cdf8d234-226d-3d39-9779-e19c2d99e1c5)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "ee210258-fac2-34de-8d89-ba4e7f66947b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "f8697452-43f1-3b46-ba8d-98106bb28658",
                    "name": "RouteOnAttribute(Check empty)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "e575002f-c4c5-3dc0-85c6-3ba6910a88c0",
                    "name": "PROCESS_ID and defaults",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "c4c33780-11b6-3bf4-b2cd-4a4466f88ab3",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "6c519d71-fed0-30a7-b4e4-b99321365339",
                    "name": "start",
                    "type": "INPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000000,
                "bends": [
                    {
                        "x": 2268.14111328125,
                        "y": 1122.8452758789062
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "c600cbff-5700-317b-8c91-b031d400f8d5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "9f826ebf-c9b6-390a-9840-6d1e7962e946",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "78a25377-2d98-3b3b-b807-19665b3127ba",
                    "id": "651aa499-132c-3600-91fd-6b4ec704b711",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "64aa015e-8f55-3697-a232-590770007ec9",
                "position": {
                    "x": 1008.1396157004838,
                    "y": 751.2663739066113
                }
            },
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "14df9576-29d9-3b43-9393-3c750e7a58f8",
                "position": {
                    "x": 1010.9606231230641,
                    "y": 1133.2390989097207
                }
            }
        ],
        "identifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
        "inputPorts": [
            {
                "comments": "",
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "6c519d71-fed0-30a7-b4e4-b99321365339",
                "name": "start",
                "position": {
                    "x": 902.7264376880166,
                    "y": -545.8052056378207
                },
                "type": "INPUT_PORT"
            }
        ],
        "labels": [
            {
                "componentType": "LABEL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "height": 96.05188751220703,
                "identifier": "5d443875-e54f-3ada-a50b-a44ce83a08f0",
                "label": "",
                "position": {
                    "x": 3030.866463297575,
                    "y": 913.2465830504814
                },
                "style": {
                    "background-color": "#c0ffc0"
                },
                "width": 314.29649353027344
            },
            {
                "componentType": "LABEL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "height": 192.04287719726562,
                "identifier": "52470f67-da47-3284-bb54-b9e544b2b56b",
                "label": "Input:\n\n{\n    \"title\": \"Single Bets Settlement Reward\",\n    \"amount\": \"25.00000000\",\n    \"company_id\": \"9577609b-d14f-4f14-ae6d-a6de017e8254\",\n    \"created_date\": \"2019-03-03 23:59:59\",\n    \"external_user_id\": \"17894621\",\n    \"operation_subtype\": \"STD\",  \n    \"ignore_on_duplicate\": true,\n    \"external_transaction_id\": \"bonus-weekenddp-17894621-single-2019-03-03T23:59:59+00\"\n}",
                "position": {
                    "x": 1304.5968233611022,
                    "y": -551.5543756972933
                },
                "style": {
                    "font-size": "12px"
                },
                "width": 595.1597595214844
            }
        ],
        "name": "ProcessExtTopUpUser",
        "outputPorts": [
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "5cee1a00-a0a8-3ccf-8823-a2640c973c45",
                "name": "output",
                "position": {
                    "x": 3068.9702571024573,
                    "y": 932.67388385499
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 787.4922262468222,
            "y": 249.05477523109826
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "c785b901-6174-388d-bbbd-db6bfa9d7b9e",
                "inputPorts": [],
                "labels": [],
                "name": "GetUserSub",
                "outputPorts": [],
                "position": {
                    "x": 839.1946403592385,
                    "y": 230.08402040156062
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "0267476f-8166-531a-bafe-732a478a7d96",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 9
                }
            },
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "78a25377-2d98-3b3b-b807-19665b3127ba",
                "inputPorts": [],
                "labels": [],
                "name": "InvokeHTTP(CreateWalletLine)",
                "outputPorts": [],
                "position": {
                    "x": 2250.582686880707,
                    "y": 872.8358544643102
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "28fb1156-039e-5d10-a8e9-a1c7dbdb4117",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 7
                }
            },
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "5a545f2b-e593-3866-b9b1-0d6387242d12",
                "inputPorts": [],
                "labels": [],
                "name": "InvokeHTTP(GetOrCreateWallet)",
                "outputPorts": [],
                "position": {
                    "x": 2260.1374471647714,
                    "y": 450.73805388785695
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "28fb1156-039e-5d10-a8e9-a1c7dbdb4117",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 7
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "3a209cc6-c9c1-3633-ac54-eea77c694bba",
                "name": "PrepareCreateWalletLine",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 857.6623053140365,
                    "y": 887.2173227780836
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "for_user": "${user_sub}",
                    "http_invoke.headers.authorization": "${id_token}",
                    "http_invoke.method": "POST",
                    "http_invoke.mime_type": "application/json",
                    "http_invoke.target_url": "${API_ENDPOINT}/wallet/line/create/from_company/without_commission",
                    "price": "${amount}",
                    "transaction_id": "${external_transaction_id}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "for_user": {
                        "displayName": "for_user",
                        "identifiesControllerService": false,
                        "name": "for_user",
                        "sensitive": false
                    },
                    "http_invoke.headers.authorization": {
                        "displayName": "http_invoke.headers.authorization",
                        "identifiesControllerService": false,
                        "name": "http_invoke.headers.authorization",
                        "sensitive": false
                    },
                    "http_invoke.method": {
                        "displayName": "http_invoke.method",
                        "identifiesControllerService": false,
                        "name": "http_invoke.method",
                        "sensitive": false
                    },
                    "http_invoke.mime_type": {
                        "displayName": "http_invoke.mime_type",
                        "identifiesControllerService": false,
                        "name": "http_invoke.mime_type",
                        "sensitive": false
                    },
                    "http_invoke.target_url": {
                        "displayName": "http_invoke.target_url",
                        "identifiesControllerService": false,
                        "name": "http_invoke.target_url",
                        "sensitive": false
                    },
                    "price": {
                        "displayName": "price",
                        "identifiesControllerService": false,
                        "name": "price",
                        "sensitive": false
                    },
                    "transaction_id": {
                        "displayName": "transaction_id",
                        "identifiesControllerService": false,
                        "name": "transaction_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "7c029c1c-8370-341c-a7b7-172b3413c5d2",
                "name": "PrepareGetOrCreateWallet",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1539.9790167398178,
                    "y": 475.6439890378492
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "0",
                    "http_invoke.headers.authorization": "${id_token}",
                    "http_invoke.method": "GET",
                    "http_invoke.target_url": "${API_ENDPOINT}/wallet/balance/${user_sub}/${company_id}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.headers.authorization": {
                        "displayName": "http_invoke.headers.authorization",
                        "identifiesControllerService": false,
                        "name": "http_invoke.headers.authorization",
                        "sensitive": false
                    },
                    "http_invoke.method": {
                        "displayName": "http_invoke.method",
                        "identifiesControllerService": false,
                        "name": "http_invoke.method",
                        "sensitive": false
                    },
                    "http_invoke.target_url": {
                        "displayName": "http_invoke.target_url",
                        "identifiesControllerService": false,
                        "name": "http_invoke.target_url",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 5,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "4fadae64-f87b-3be9-9306-ba2610a5b5d2",
                "name": "SkipUserWalletCreation",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 855.1861031170051,
                    "y": 474.2370779708381
                },
                "properties": {
                    "include-empty-values": "false",
                    "lookup-service": "660ed4b6-14bb-3393-8e96-8216add7524f",
                    "user_has_wallet": "arn:user:has:wallet:${user_sub}"
                },
                "propertyDescriptors": {
                    "include-empty-values": {
                        "displayName": "Include Empty Values",
                        "identifiesControllerService": false,
                        "name": "include-empty-values",
                        "sensitive": false
                    },
                    "lookup-service": {
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "name": "lookup-service",
                        "sensitive": false
                    },
                    "user_has_wallet": {
                        "displayName": "user_has_wallet",
                        "identifiesControllerService": false,
                        "name": "user_has_wallet",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LookupAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "f8697452-43f1-3b46-ba8d-98106bb28658",
                "name": "RouteOnAttribute(Check empty)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 856.2194091040196,
                    "y": -183.37646530378328
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "empty": "${external_user_id:isEmpty():or(${company_id:isEmpty()})}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "empty": {
                        "displayName": "empty",
                        "identifiesControllerService": false,
                        "name": "empty",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "3d6496dc-5fe0-3799-a23b-66927251dd4d",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 208.68784430684764,
                    "y": 442.89420577566466
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "user_not_exists": "${invokehttp.response.body:contains('Please provide email to create one')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "user_not_exists": {
                        "displayName": "user_not_exists",
                        "identifiesControllerService": false,
                        "name": "user_not_exists",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "test_users"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "2dedd1ab-5865-3ecf-8424-5e177514ea43",
                "name": "DropTestUsers",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -405.31215569315236,
                    "y": 445.89420577566466
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "test_users": "${external_user_id:in(\"18475424\", \"18474718\", \"18474769\", \"14125344\", \"17030899\", \"15266462\", \"14047267\",\"14056954\",\"17049738\",\"18473099\",\"18473544\",\"18474135\",\"18474198\",\"18474237\",\"18474300\",\"18474390\",\"18474446\",\"18474475\",\"18474531\",\"18474586\",\"18474633\",\"18474668\",\"18474688\",\"18475010\",\"18475078\",\"18475110\",\"20360619\",\"20360633\", \"14542270\", \"17989708\", \"19727324\", \"11311464\",\"19739444\",\"13456309\",\"21119958\",\"11305401\",\"21118509\",\"21640762\",\"11304469\",\"16687445\")}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "test_users": {
                        "displayName": "test_users",
                        "identifiesControllerService": false,
                        "name": "test_users",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "0d84a63a-43de-3ca3-9fa9-add9f12d7e08",
                "name": "LogMessage[WARN]",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1510.9163069600922,
                    "y": -189.49733610590965
                },
                "properties": {
                    "log-level": "warn",
                    "log-message": "Dropping empty request data for flow id: ${uuid} and ${PROCESS_ID}",
                    "log-prefix": "[WalletTopUp][ProcessExtTopUpUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "465ad092-85fa-3eb4-a27a-1a6295a3e4e5",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 210.7207924127133,
                    "y": 109.0340096328016
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to call GetUserSub",
                    "log-prefix": "[${PROCESS_ID}][ProcessExtTopUpUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "7aa47371-62e4-3a8e-b6dc-1d34bb000085",
                "name": "PrepareBody",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1537.3802316629217,
                    "y": 888.5555447660458
                },
                "properties": {
                    "Attributes List": "price, title, for_user, company_id, transaction_id, operation_subtype, ignore_on_duplicate",
                    "Destination": "flowfile-content",
                    "Include Core Attributes": "false",
                    "Null Value": "true"
                },
                "propertyDescriptors": {
                    "Attributes List": {
                        "displayName": "Attributes List",
                        "identifiesControllerService": false,
                        "name": "Attributes List",
                        "sensitive": false
                    },
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Include Core Attributes": {
                        "displayName": "Include Core Attributes",
                        "identifiesControllerService": false,
                        "name": "Include Core Attributes",
                        "sensitive": false
                    },
                    "Null Value": {
                        "displayName": "Null Value",
                        "identifiesControllerService": false,
                        "name": "Null Value",
                        "sensitive": false
                    },
                    "attributes-to-json-regex": {
                        "displayName": "Attributes Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-json-regex",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.AttributesToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "c600cbff-5700-317b-8c91-b031d400f8d5",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2264.7228065728696,
                    "y": 1200.1349770400284
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to call GetOrCreateWallet",
                    "log-prefix": "[${PROCESS_ID}][ProcessExtTopUpUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "f7ce1aef-5f16-3998-81f6-a5ce6fefe844",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1533.801053643182,
                    "y": 1091.0364052626846
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to create request body!",
                    "log-prefix": "[${PROCESS_ID}][ProcessExtTopUpUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "532540f3-7d64-3b50-9a11-37be076dc820",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 3030.1617103814633,
                    "y": 469.888547596669
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to call GetOrCreateWallet",
                    "log-prefix": "[${PROCESS_ID}][ProcessExtTopUpUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "e575002f-c4c5-3dc0-85c6-3ba6910a88c0",
                "name": "PROCESS_ID and defaults",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 853.7391330005166,
                    "y": -434.3489726132235
                },
                "properties": {
                    "ID_TOKEN_KEY": "EXT_TOP_UP_USER",
                    "PROCESS_ID": "${PROCESS_ID:replaceEmpty(${UUID():prepend('EXT_TOP_UP_USER_')})}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "0",
                    "ignore_on_duplicate": "${ignore_on_duplicate:replaceNull('true')}"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "ID_TOKEN_KEY": {
                        "displayName": "ID_TOKEN_KEY",
                        "identifiesControllerService": false,
                        "name": "ID_TOKEN_KEY",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "ignore_on_duplicate": {
                        "displayName": "ignore_on_duplicate",
                        "identifiesControllerService": false,
                        "name": "ignore_on_duplicate",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "5c8685f7-ee6e-3bc9-9b6b-38c26f47beb4",
                "name": "GenerateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 217.7977669353645,
                    "y": -444.12496159520197
                },
                "properties": {
                    "Batch Size": "1",
                    "Data Format": "Text",
                    "File Size": "0B",
                    "Unique FlowFiles": "false",
                    "amount": "${random():plus(1):mod(1000):toDecimal():divide(100)}",
                    "character-set": "UTF-8",
                    "company_id": "9577609b-d14f-4f14-ae6d-a6de017e8254",
                    "created_date": "${now():format('yyyy-MM-dd HH:mm:ss')}",
                    "external_transaction_id": "nifi_testing_${UUID()}",
                    "external_user_id": "19870917",
                    "ignore_on_duplicate": "${random():gt(-1)}",
                    "operation_subtype": "STD",
                    "title": "Nifi testing flood"
                },
                "propertyDescriptors": {
                    "Batch Size": {
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "name": "Batch Size",
                        "sensitive": false
                    },
                    "Data Format": {
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "name": "Data Format",
                        "sensitive": false
                    },
                    "File Size": {
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "name": "File Size",
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "name": "Unique FlowFiles",
                        "sensitive": false
                    },
                    "amount": {
                        "displayName": "amount",
                        "identifiesControllerService": false,
                        "name": "amount",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "created_date": {
                        "displayName": "created_date",
                        "identifiesControllerService": false,
                        "name": "created_date",
                        "sensitive": false
                    },
                    "external_transaction_id": {
                        "displayName": "external_transaction_id",
                        "identifiesControllerService": false,
                        "name": "external_transaction_id",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "name": "generate-ff-custom-text",
                        "sensitive": false
                    },
                    "ignore_on_duplicate": {
                        "displayName": "ignore_on_duplicate",
                        "identifiesControllerService": false,
                        "name": "ignore_on_duplicate",
                        "sensitive": false
                    },
                    "operation_subtype": {
                        "displayName": "operation_subtype",
                        "identifiesControllerService": false,
                        "name": "operation_subtype",
                        "sensitive": false
                    },
                    "title": {
                        "displayName": "title",
                        "identifiesControllerService": false,
                        "name": "title",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "10 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "identifier": "f3e4f1c3-5e1d-34f2-a7f4-bd7e276740bc",
                "name": "PutDistributedMapCache",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2270.7799666745677,
                    "y": 709.127101648718
                },
                "properties": {
                    "Cache Entry Identifier": "arn:user:has:wallet:${user_sub}",
                    "Cache update strategy": "replace",
                    "Distributed Cache Service": "947edf65-2db2-325c-b8c5-d156fb7d78e7",
                    "Max cache entry size": "1 MB"
                },
                "propertyDescriptors": {
                    "Cache Entry Identifier": {
                        "displayName": "Cache Entry Identifier",
                        "identifiesControllerService": false,
                        "name": "Cache Entry Identifier",
                        "sensitive": false
                    },
                    "Cache update strategy": {
                        "displayName": "Cache update strategy",
                        "identifiesControllerService": false,
                        "name": "Cache update strategy",
                        "sensitive": false
                    },
                    "Distributed Cache Service": {
                        "displayName": "Distributed Cache Service",
                        "identifiesControllerService": true,
                        "name": "Distributed Cache Service",
                        "sensitive": false
                    },
                    "Max cache entry size": {
                        "displayName": "Max cache entry size",
                        "identifiesControllerService": false,
                        "name": "Max cache entry size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutDistributedMapCache",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "487caa91-93e8-5541-b5b8-3708097dbcf7",
        "comments": "vb",
        "flowIdentifier": "15a830e4-4069-5158-b9a7-0f89cbe33bc8",
        "timestamp": 1581436364182,
        "version": 4
    }
}