archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/FetchCustomerDetails/000000003.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1555593151586,
        "description": "",
        "identifier": "b7f081fe-f1d7-54cc-b26a-c45e010a5d77",
        "modifiedTimestamp": 1574850740276,
        "name": "FetchCustomerDetails",
        "type": "Flow",
        "versionCount": 9
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "53ed4db5-7964-3709-a1f0-6fb86eb5d17d",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c0b2e6f9-7b28-39b2-a6f3-1ede2c75bfac",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "ab2e25e6-0508-380f-8279-cdb6f8a76b65",
                    "name": "PublishKafka(parse_error)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "cce54f7e-897f-3d31-8830-d5f1e89c3ece",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2177.855224609375,
                        "y": 491.3589172363281
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "ab2e25e6-0508-380f-8279-cdb6f8a76b65",
                    "name": "PublishKafka(parse_error)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "ab4c6833-8906-3fa3-b8f5-84979b531036",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "ffeb984f-518a-327a-986a-2abc093ec125",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "2c3ac0d2-d2fc-3e97-a9cc-f0a285fd6735",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "d020115d-c418-392a-8aa0-ad46fd6a7939",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "c4499e18-7d75-33af-8715-0c963bc4ac84",
                    "name": "PublishKafka(parse_json_error)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "6a8a5e3f-d2f3-3256-963b-8ca88e32b522",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2880.362165917487,
                        "y": 693.6801688393073
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "c4499e18-7d75-33af-8715-0c963bc4ac84",
                    "name": "PublishKafka(parse_json_error)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "d7b6eeb7-e472-39c6-9d1e-fb54fc8d396f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "2c3ac0d2-d2fc-3e97-a9cc-f0a285fd6735",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "ffeb984f-518a-327a-986a-2abc093ec125",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "994c25d7-00b5-36c4-8d09-1f14585de952",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "ab2e25e6-0508-380f-8279-cdb6f8a76b65",
                    "name": "PublishKafka(parse_error)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "76613800-babb-31e5-9465-bb05fd0c790a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "490a8a14-3b80-3613-b5ba-d2dd81a3865c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "b50fd68d-b33b-3c32-9de6-6db51c4550be",
                    "name": "ConsumeKafka",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "c4499e18-7d75-33af-8715-0c963bc4ac84",
                    "name": "PublishKafka(parse_json_error)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "90316367-8e48-3d69-af23-8d5b654609ae",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [],
        "identifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
        "inputPorts": [],
        "labels": [],
        "name": "FetchCustomerDetails",
        "outputPorts": [
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "53ed4db5-7964-3709-a1f0-6fb86eb5d17d",
                "name": "output",
                "position": {
                    "x": 1043.5649222222594,
                    "y": 914.3644648773097
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1285.4021192588486,
            "y": 300.3879575958616
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "ab2e25e6-0508-380f-8279-cdb6f8a76b65",
                "name": "PublishKafka(parse_error)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1649.8731358365692,
                    "y": 495.5757059468125
                },
                "properties": {
                    "ack.wait.time": "5 secs",
                    "acks": "0",
                    "bootstrap.servers": "${KAFKA_BROKER}",
                    "compression.type": "none",
                    "key-attribute-encoding": "utf-8",
                    "max.block.ms": "5 sec",
                    "max.request.size": "1 MB",
                    "message-header-encoding": "UTF-8",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "security.protocol": "PLAINTEXT",
                    "topic": "${kafka.topic}_parse_error",
                    "use-transactions": "false"
                },
                "propertyDescriptors": {
                    "ack.wait.time": {
                        "displayName": "Acknowledgment Wait Time",
                        "identifiesControllerService": false,
                        "name": "ack.wait.time",
                        "sensitive": false
                    },
                    "acks": {
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "name": "acks",
                        "sensitive": false
                    },
                    "attribute-name-regex": {
                        "displayName": "Attributes to Send as Headers (Regex)",
                        "identifiesControllerService": false,
                        "name": "attribute-name-regex",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "compression.type": {
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "name": "compression.type",
                        "sensitive": false
                    },
                    "kafka-key": {
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "name": "kafka-key",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max.block.ms": {
                        "displayName": "Max Metadata Wait Time",
                        "identifiesControllerService": false,
                        "name": "max.block.ms",
                        "sensitive": false
                    },
                    "max.request.size": {
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "name": "max.request.size",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "partitioner.class": {
                        "displayName": "Partitioner class",
                        "identifiesControllerService": false,
                        "name": "partitioner.class",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "use-transactions": {
                        "displayName": "Use Transactions",
                        "identifiesControllerService": false,
                        "name": "use-transactions",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffa0"
                },
                "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "b50fd68d-b33b-3c32-9de6-6db51c4550be",
                "name": "ConsumeKafka",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 985.7090112777223,
                    "y": 278.31536118890904
                },
                "properties": {
                    "Communications Timeout": "60 secs",
                    "auto.offset.reset": "earliest",
                    "bootstrap.servers": "${KAFKA_HOST}:${KAFKA_PORT}",
                    "group.id": "nifi.customer_details_dev_1",
                    "honor-transactions": "true",
                    "key-attribute-encoding": "utf-8",
                    "max-uncommit-offset-wait": "1 secs",
                    "max.poll.records": "1",
                    "message-header-encoding": "UTF-8",
                    "security.protocol": "PLAINTEXT",
                    "topic": "${KAFKA.TOPIC.CUSTOMER_DETAILS}",
                    "topic_type": "names"
                },
                "propertyDescriptors": {
                    "Communications Timeout": {
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "name": "Communications Timeout",
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "name": "auto.offset.reset",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "group.id": {
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "name": "group.id",
                        "sensitive": false
                    },
                    "header-name-regex": {
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "name": "header-name-regex",
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "name": "honor-transactions",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "name": "max-uncommit-offset-wait",
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "name": "max.poll.records",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "topic_type": {
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "name": "topic_type",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-avro-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                "name": "ConvertAvroToJSON",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 986.5591861696676,
                    "y": 497.72231748396416
                },
                "properties": {
                    "Avro schema": "{\n  \"type\": \"record\",\n  \"name\": \"UserRequestData\",\n  \"namespace\": \"net.flipsports.gmx.rewardcalculator.api\",\n  \"fields\": [\n    {\n      \"name\": \"external_user_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"company_id\",\n      \"type\": \"string\",\n      \"logicalType\": \"UUID\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    }\n  ]\n}",
                    "JSON container options": "none",
                    "Wrap Single Record": "false"
                },
                "propertyDescriptors": {
                    "Avro schema": {
                        "displayName": "Avro schema",
                        "identifiesControllerService": false,
                        "name": "Avro schema",
                        "sensitive": false
                    },
                    "JSON container options": {
                        "displayName": "JSON container options",
                        "identifiesControllerService": false,
                        "name": "JSON container options",
                        "sensitive": false
                    },
                    "Wrap Single Record": {
                        "displayName": "Wrap Single Record",
                        "identifiesControllerService": false,
                        "name": "Wrap Single Record",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "2c3ac0d2-d2fc-3e97-a9cc-f0a285fd6735",
                "name": "LogError - republish error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 3058.0958249046544,
                    "y": 703.3158206966457
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to republish message to JSON parse failue for message offset ${kafka.offset} from ${kafka.topic}",
                    "log-prefix": "[FetchCustomerDetails]"
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c4499e18-7d75-33af-8715-0c963bc4ac84",
                "name": "PublishKafka(parse_json_error)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2352.6285069303194,
                    "y": 704.0445169819687
                },
                "properties": {
                    "ack.wait.time": "5 secs",
                    "acks": "0",
                    "bootstrap.servers": "${KAFKA_BROKER}",
                    "compression.type": "none",
                    "key-attribute-encoding": "utf-8",
                    "max.block.ms": "5 sec",
                    "max.request.size": "1 MB",
                    "message-header-encoding": "UTF-8",
                    "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
                    "security.protocol": "PLAINTEXT",
                    "topic": "${kafka.topic}_parse_json_error",
                    "use-transactions": "false"
                },
                "propertyDescriptors": {
                    "ack.wait.time": {
                        "displayName": "Acknowledgment Wait Time",
                        "identifiesControllerService": false,
                        "name": "ack.wait.time",
                        "sensitive": false
                    },
                    "acks": {
                        "displayName": "Delivery Guarantee",
                        "identifiesControllerService": false,
                        "name": "acks",
                        "sensitive": false
                    },
                    "attribute-name-regex": {
                        "displayName": "Attributes to Send as Headers (Regex)",
                        "identifiesControllerService": false,
                        "name": "attribute-name-regex",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "compression.type": {
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "name": "compression.type",
                        "sensitive": false
                    },
                    "kafka-key": {
                        "displayName": "Kafka Key",
                        "identifiesControllerService": false,
                        "name": "kafka-key",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max.block.ms": {
                        "displayName": "Max Metadata Wait Time",
                        "identifiesControllerService": false,
                        "name": "max.block.ms",
                        "sensitive": false
                    },
                    "max.request.size": {
                        "displayName": "Max Request Size",
                        "identifiesControllerService": false,
                        "name": "max.request.size",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "partitioner.class": {
                        "displayName": "Partitioner class",
                        "identifiesControllerService": false,
                        "name": "partitioner.class",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "use-transactions": {
                        "displayName": "Use Transactions",
                        "identifiesControllerService": false,
                        "name": "use-transactions",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffffa0"
                },
                "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 987.3370906854673,
                    "y": 705.586038379293
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "Return Type": "scalar",
                    "company_id": "$.company_id",
                    "email": "$.email",
                    "external_user_id": "$.external_user_id"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "email": {
                        "displayName": "email",
                        "identifiesControllerService": false,
                        "name": "email",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                "name": "LogError - parse error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1647.577514357779,
                    "y": 706.0088761184372
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to convert JSON to FlowFile attributes",
                    "log-prefix": "[FetchCustomerDetails]"
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "ffeb984f-518a-327a-986a-2abc093ec125",
                "name": "LogError - republish error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2355.340453810904,
                    "y": 494.84700966148944
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to republish message to parse failue for message offset ${kafka.offset} from ${kafka.topic}",
                    "log-prefix": "[FetchCustomerDetails]"
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "added json to attributes mapping",
        "flowIdentifier": "b7f081fe-f1d7-54cc-b26a-c45e010a5d77",
        "timestamp": 1555604527497,
        "version": 3
    }
}