review/gmx-infrastructure/gmx-nifi/gmx-nifi/nifi_flows/Common/FetchCustomerDetails.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "8e627645-03b8-4783-8c00-7cabb738ca6d",
        "link": {
            "href": "buckets/8e627645-03b8-4783-8c00-7cabb738ca6d",
            "params": {
                "rel": "self"
            }
        },
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "8e627645-03b8-4783-8c00-7cabb738ca6d",
        "bucketName": "Common",
        "createdTimestamp": 1555593151586,
        "description": "",
        "identifier": "5c0e3532-95cf-45fb-8c4c-72cfbecf9976",
        "link": {
            "href": "buckets/8e627645-03b8-4783-8c00-7cabb738ca6d/flows/5c0e3532-95cf-45fb-8c4c-72cfbecf9976",
            "params": {
                "rel": "self"
            }
        },
        "modifiedTimestamp": 1558708782803,
        "name": "FetchCustomerDetails",
        "type": "Flow",
        "versionCount": 7
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1492.4573025216232,
                        "y": 695.7974572488652
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "8080ce32-b7f2-3926-bdc3-11db10cdfa4e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "53ed4db5-7964-3709-a1f0-6fb86eb5d17d",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c0b2e6f9-7b28-39b2-a6f3-1ede2c75bfac",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "6a8a5e3f-d2f3-3256-963b-8ca88e32b522",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "76613800-babb-31e5-9465-bb05fd0c790a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "490a8a14-3b80-3613-b5ba-d2dd81a3865c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "b50fd68d-b33b-3c32-9de6-6db51c4550be",
                    "name": "ConsumeKafka",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c72c3d7f-4b1a-3a43-8cf2-10a0113b6cb5",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1487.9594635449735,
                        "y": 487.9501909164768
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "32adc5e1-67a9-3a8a-8407-ef4e3c9d7b23",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [],
        "identifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
        "inputPorts": [],
        "labels": [],
        "name": "FetchCustomerDetails",
        "outputPorts": [
            {
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "53ed4db5-7964-3709-a1f0-6fb86eb5d17d",
                "name": "output",
                "position": {
                    "x": 1043.5649222222594,
                    "y": 914.3644648773097
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1591.9693800010361,
            "y": 221.94975569156475
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                "name": "LogError - republish error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1639.3597409202794,
                    "y": 498.17806434898944
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to convert AVRO to JSON",
                    "log-prefix": "[FetchCustomerDetails] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "b50fd68d-b33b-3c32-9de6-6db51c4550be",
                "name": "ConsumeKafka",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 987.6855737777223,
                    "y": 257.55428330804966
                },
                "properties": {
                    "Communications Timeout": "60 secs",
                    "auto.offset.reset": "earliest",
                    "bootstrap.servers": "${KAFKA_HOST}:${KAFKA_PORT}",
                    "group.id": "nifi.customer_details_${KAFKA_GROUP_ID_SUFIX}",
                    "honor-transactions": "true",
                    "key-attribute-encoding": "utf-8",
                    "max-uncommit-offset-wait": "1 secs",
                    "max.poll.records": "1",
                    "message-header-encoding": "UTF-8",
                    "security.protocol": "PLAINTEXT",
                    "topic": "${KAFKA.TOPIC.CUSTOMER_DETAILS}",
                    "topic_type": "names"
                },
                "propertyDescriptors": {
                    "Communications Timeout": {
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "name": "Communications Timeout",
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "name": "auto.offset.reset",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "group.id": {
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "name": "group.id",
                        "sensitive": false
                    },
                    "header-name-regex": {
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "name": "header-name-regex",
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "name": "honor-transactions",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "name": "max-uncommit-offset-wait",
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "name": "max.poll.records",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "topic_type": {
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "name": "topic_type",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-avro-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "dff1dfaf-e9c4-3fea-87ca-297b5fdce42a",
                "name": "ConvertAvroToJSON",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 986.5591861696676,
                    "y": 497.72231748396416
                },
                "properties": {
                    "Avro schema": "{\n  \"type\": \"record\",\n  \"name\": \"UserRequestData\",\n  \"namespace\": \"net.flipsports.gmx.rewardcalculator.api\",\n  \"fields\": [\n    {\n      \"name\": \"external_user_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"company_id\",\n      \"type\": \"string\",\n      \"logicalType\": \"UUID\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    }\n  ]\n}",
                    "JSON container options": "none",
                    "Wrap Single Record": "false"
                },
                "propertyDescriptors": {
                    "Avro schema": {
                        "displayName": "Avro schema",
                        "identifiesControllerService": false,
                        "name": "Avro schema",
                        "sensitive": false
                    },
                    "JSON container options": {
                        "displayName": "JSON container options",
                        "identifiesControllerService": false,
                        "name": "JSON container options",
                        "sensitive": false
                    },
                    "Wrap Single Record": {
                        "displayName": "Wrap Single Record",
                        "identifiesControllerService": false,
                        "name": "Wrap Single Record",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 987.3370906854673,
                    "y": 705.586038379293
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "Return Type": "scalar",
                    "company_id": "$.company_id",
                    "email": "$.email",
                    "external_user_id": "$.external_user_id"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "email": {
                        "displayName": "email",
                        "identifiesControllerService": false,
                        "name": "email",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                "name": "LogError - parse error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1647.577514357779,
                    "y": 706.0088761184372
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to convert JSON to FlowFile attributes",
                    "log-prefix": "[FetchCustomerDetails] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": [],
        "variables": {
            "KAFKA.TOPIC.CUSTOMER_DETAILS": "customerdetails",
            "KAFKA_GROUP_ID_SUFIX": "preprod_4",
            "KAFKA_HOST": "10.6.12.121",
            "KAFKA_PORT": "9092"
        }
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "8e627645-03b8-4783-8c00-7cabb738ca6d",
        "comments": "must be earliest",
        "flowIdentifier": "5c0e3532-95cf-45fb-8c4c-72cfbecf9976",
        "link": {
            "href": "buckets/8e627645-03b8-4783-8c00-7cabb738ca6d/flows/5c0e3532-95cf-45fb-8c4c-72cfbecf9976/versions/7",
            "params": {
                "rel": "content"
            }
        },
        "timestamp": 1558708782721,
        "version": 7
    }
}