archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/GetOrCreateExtUser/FetchCustomerDetails/000000006.json
{
    "bucket": {
        "allowBundleRedeploy": false,
        "allowPublicRead": false,
        "createdTimestamp": 1574850840709,
        "identifier": "dd098245-2d5d-5e16-853c-aaa4f99bdaec",
        "name": "GetOrCreateExtUser",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "externalControllerServices": {},
    "flow": {
        "bucketIdentifier": "dd098245-2d5d-5e16-853c-aaa4f99bdaec",
        "bucketName": "GetOrCreateExtUser",
        "createdTimestamp": 1574850888702,
        "description": "",
        "identifier": "31c48406-9d95-5a76-a94d-2b60e5f76ba4",
        "modifiedTimestamp": 1582648449611,
        "name": "FetchCustomerDetails",
        "type": "Flow",
        "versionCount": 6
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1492.4573025216232,
                        "y": 695.7974572488652
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "8080ce32-b7f2-3926-bdc3-11db10cdfa4e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57f230c1-2b2e-3cbc-8f99-acb49052bdda",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "568f6ef8-9585-380b-84e6-a9460bf2a866",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "061c5f36-d07a-3053-9a2e-30e13ee4b55c",
                    "name": "gmx-messaging.sportnation-customer-upsert",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "fad8851a-3218-33f6-af9e-e030d9907387",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c0b2e6f9-7b28-39b2-a6f3-1ede2c75bfac",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                    "name": "LogError - parse error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "76613800-babb-31e5-9465-bb05fd0c790a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "d50f068f-13b1-3135-8888-7ab7ec31ee22",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57f230c1-2b2e-3cbc-8f99-acb49052bdda",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "c72c3d7f-4b1a-3a43-8cf2-10a0113b6cb5",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57f230c1-2b2e-3cbc-8f99-acb49052bdda",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1487.9594635449735,
                        "y": 487.9501909164768
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "57f230c1-2b2e-3cbc-8f99-acb49052bdda",
                    "name": "ConvertAvroToJSON",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "32adc5e1-67a9-3a8a-8407-ef4e3c9d7b23",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                    "id": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                    "name": "LogError - republish error",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [],
        "identifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
        "inputPorts": [],
        "labels": [],
        "name": "FetchCustomerDetails",
        "outputPorts": [
            {
                "allowRemoteAccess": false,
                "comments": "",
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "fad8851a-3218-33f6-af9e-e030d9907387",
                "name": "output",
                "position": {
                    "x": 1040.0,
                    "y": 912.0
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1591.9693800010361,
            "y": 221.94975569156475
        },
        "processGroups": [],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "27506d04-ab6b-31e7-bc2c-f1eda1e60360",
                "name": "LogError - republish error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1640.0,
                    "y": 496.0
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to convert AVRO to JSON",
                    "log-prefix": "[FetchCustomerDetails] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-avro-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "57f230c1-2b2e-3cbc-8f99-acb49052bdda",
                "name": "ConvertAvroToJSON",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 984.0,
                    "y": 496.0
                },
                "properties": {
                    "Avro schema": "{\n  \"type\": \"record\",\n  \"name\": \"UserRequestData\",\n  \"namespace\": \"net.flipsports.gmx.rewardcalculator.api\",\n  \"fields\": [\n    {\n      \"name\": \"external_user_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"company_id\",\n      \"type\": \"string\",\n      \"logicalType\": \"UUID\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    }\n  ]\n}",
                    "JSON container options": "none",
                    "Wrap Single Record": "false"
                },
                "propertyDescriptors": {
                    "Avro schema": {
                        "displayName": "Avro schema",
                        "identifiesControllerService": false,
                        "name": "Avro schema",
                        "sensitive": false
                    },
                    "JSON container options": {
                        "displayName": "JSON container options",
                        "identifiesControllerService": false,
                        "name": "JSON container options",
                        "sensitive": false
                    },
                    "Wrap Single Record": {
                        "displayName": "Wrap Single Record",
                        "identifiesControllerService": false,
                        "name": "Wrap Single Record",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 25,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "061c5f36-d07a-3053-9a2e-30e13ee4b55c",
                "name": "gmx-messaging.sportnation-customer-upsert",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 984.0,
                    "y": 248.0
                },
                "properties": {
                    "Communications Timeout": "60 secs",
                    "auto.offset.reset": "none",
                    "bootstrap.servers": "${KAFKA_HOST}:${KAFKA_PORT}",
                    "connections.max.idle.ms": "180000",
                    "group.id": "gmx-messaging.sportnation-customer-upsert.process-engine",
                    "heartbeat.interval.ms": "60000",
                    "honor-transactions": "true",
                    "key-attribute-encoding": "utf-8",
                    "max-uncommit-offset-wait": "1 secs",
                    "max.poll.records": "1",
                    "message-header-encoding": "UTF-8",
                    "sasl.mechanism": "GSSAPI",
                    "sasl.token.auth": "false",
                    "security.protocol": "PLAINTEXT",
                    "session.timeout.ms": "300000",
                    "topic": "gmx-messaging.sportnation-customer-upsert",
                    "topic_type": "names"
                },
                "propertyDescriptors": {
                    "Communications Timeout": {
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "name": "Communications Timeout",
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "name": "auto.offset.reset",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "connections.max.idle.ms": {
                        "displayName": "connections.max.idle.ms",
                        "identifiesControllerService": false,
                        "name": "connections.max.idle.ms",
                        "sensitive": false
                    },
                    "group.id": {
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "name": "group.id",
                        "sensitive": false
                    },
                    "header-name-regex": {
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "name": "header-name-regex",
                        "sensitive": false
                    },
                    "heartbeat.interval.ms": {
                        "displayName": "heartbeat.interval.ms",
                        "identifiesControllerService": false,
                        "name": "heartbeat.interval.ms",
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "name": "honor-transactions",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "name": "max-uncommit-offset-wait",
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "name": "max.poll.records",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "sasl.mechanism": {
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "name": "sasl.mechanism",
                        "sensitive": false
                    },
                    "sasl.password": {
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "name": "sasl.password",
                        "sensitive": true
                    },
                    "sasl.token.auth": {
                        "displayName": "Token Auth",
                        "identifiesControllerService": false,
                        "name": "sasl.token.auth",
                        "sensitive": false
                    },
                    "sasl.username": {
                        "displayName": "Username",
                        "identifiesControllerService": false,
                        "name": "sasl.username",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "session.timeout.ms": {
                        "displayName": "session.timeout.ms",
                        "identifiesControllerService": false,
                        "name": "session.timeout.ms",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "topic_type": {
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "name": "topic_type",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "83bdd4ef-332f-3c98-bded-12c91f7fa916",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 984.0,
                    "y": 704.0
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "Return Type": "scalar",
                    "company_id": "$.company_id",
                    "email": "$.email",
                    "external_user_id": "$.external_user_id"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "email": {
                        "displayName": "email",
                        "identifiesControllerService": false,
                        "name": "email",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 25,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.11.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "0fd7a5c2-ec1a-3324-abf5-5a22fc70ac5b",
                "identifier": "57ddfcb2-0d92-3780-9e64-fd9029dba0a1",
                "name": "LogError - parse error",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1640.0,
                    "y": 704.0
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to convert JSON to FlowFile attributes",
                    "log-prefix": "[FetchCustomerDetails] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "scheduledState": "ENABLED",
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {
                    "background-color": "#ffa0a0"
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "flowEncodingVersion": "1.0",
    "parameterContexts": {},
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "dd098245-2d5d-5e16-853c-aaa4f99bdaec",
        "comments": "possition changed",
        "flowIdentifier": "31c48406-9d95-5a76-a94d-2b60e5f76ba4",
        "timestamp": 1582648449549,
        "version": 6
    }
}