archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/SbTechVirtualShopBonusApi/000000006.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1562708774723,
        "description": "",
        "identifier": "1b7f4cdc-2aa4-5091-bedf-bfcbef815e6a",
        "modifiedTimestamp": 1574807863925,
        "name": "SbTechVirtualShopBonusApi",
        "type": "Flow",
        "versionCount": 10
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "f99d37b5-c6f4-3a43-a504-0268566bf257",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "fe0a166d-c47e-3055-9548-eb93a7a00d6e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "6a7aaa07-471c-3eaa-ba5d-845bb9af06cd",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2114.810546875,
                        "y": 154.88388061523438
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "48e954e3-c4dd-3c8c-8e35-d52ec900e059",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "667c80f6-2e07-340d-9e25-a4054d007619",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe28f807-43ae-31bd-a8b0-a074adff896b",
                    "name": "Parse ARVO virtual_shop.bonus_api",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8a2a3edc-7aa2-3f3f-a240-36d858663f51",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "571c0bfc-b4ca-3535-a581-8955120c8de6",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "00e2959f-a8dc-3eee-81af-c1c8d35eb3e3",
                    "name": "ReplaceText",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "7ba4504b-6f19-333c-b5c2-2c9875c3e89a",
                    "name": "UpdateAttribute for InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "631afc50-4b42-3a16-9267-973d2676c0e2",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "00e2959f-a8dc-3eee-81af-c1c8d35eb3e3",
                    "name": "ReplaceText",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "00e2959f-a8dc-3eee-81af-c1c8d35eb3e3",
                    "name": "ReplaceText",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "091b2087-9d95-36d6-92f2-89d9ee36ed60",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe7f7e83-905d-3232-8911-e6b5491af05c",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "2ceb24b5-40b2-3b04-8e49-42974001e057",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "a5272c40-3064-3db4-b6bb-60b958cf6d94",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "product_title_FB"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "af342451-dcfa-318f-b137-48e9ff6ed75d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "0b3f8a6b-dccf-3941-a3e5-6d6055f986c6",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "2afbccba-ae28-3529-91cd-7dce181fcfd2",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "49193d57-b3fe-3868-820b-f8192bc18429",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "2b1f34a6-9a56-3289-ba3b-7076ddcf1571",
                    "name": "Log incoming data",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "1418f58d-df48-3998-825e-07cb37a36b6b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "cd1fe6cf-d026-3b16-9256-226ffcca6fa3",
                    "name": "TESTING(GenerateFlowFile)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "af342451-dcfa-318f-b137-48e9ff6ed75d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "724d3092-bc08-3cd9-9466-badf3ad9080f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "invokehttp.response.body"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "f99d37b5-c6f4-3a43-a504-0268566bf257",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "2b1f34a6-9a56-3289-ba3b-7076ddcf1571",
                    "name": "Log incoming data",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "a35b7bfa-b6f6-3b4b-874b-8e06dc358211",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe28f807-43ae-31bd-a8b0-a074adff896b",
                    "name": "Parse ARVO virtual_shop.bonus_api",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "efb95b6c-fd99-3b10-9aad-088f3d202415",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "87ee3e13-3aa7-3618-89ac-353d6a54b236",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8b922e0a-420a-364f-b7df-082fc7b42127",
                    "name": "PROCESS_ID, BONUS and defaults",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2114.250110852543,
                        "y": 466.5049825408041
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "3797dfc4-f460-39ab-b52c-072feb4dec3d",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "f5df7d6d-1d0f-3921-9616-bd9462e5a6ed",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "c7519250-e568-3e7b-8bff-1528d8e55309",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8b7c6f33-a13e-3f62-a3b1-83384c67efcd",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "237e8697-c8f4-3c3e-80ac-271f07c9d6c6",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "product_title_CB"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "af342451-dcfa-318f-b137-48e9ff6ed75d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe28f807-43ae-31bd-a8b0-a074adff896b",
                    "name": "Parse ARVO virtual_shop.bonus_api",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "bbaa0290-f6e0-3657-b1be-8a68243fb9b4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "debba797-d327-3cc7-9cff-fe5be19871ec",
                    "name": "gmx-messaging.virtual-shop-post-purchase-line",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "0b3f8a6b-dccf-3941-a3e5-6d6055f986c6",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "d864e507-8df8-39f7-985c-31aa0c592eb4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "87964fb2-077b-3f2a-b6a2-d1d5d22fb883",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2114.810546875,
                        "y": 63.21405792236328
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe28f807-43ae-31bd-a8b0-a074adff896b",
                    "name": "Parse ARVO virtual_shop.bonus_api",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "a14af230-d035-3f1d-84f6-ac53c3b77c4f",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "48e954e3-c4dd-3c8c-8e35-d52ec900e059",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 3447.70654296875,
                        "y": 2709.2611083984375
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "49193d57-b3fe-3868-820b-f8192bc18429",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "45e8c154-839b-360c-a042-5dd9c0270961",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "78dac5c2-cfb1-358e-b2d4-aebaac8c5683",
                    "name": "PutEmail",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 3114.921875,
                        "y": 1133.203125
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe7f7e83-905d-3232-8911-e6b5491af05c",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "e4163e35-9478-3ba7-95d7-3056ad35501e",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "eb073343-810c-35c9-a68b-f0b96ef95510",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2133.0968692061315,
                        "y": 1259.3560268670867
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "00e2959f-a8dc-3eee-81af-c1c8d35eb3e3",
                    "name": "ReplaceText",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "ed27886c-6901-3328-99cc-310d8b9efcc0",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8a2a3edc-7aa2-3f3f-a240-36d858663f51",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "6affacdf-3e89-3f74-8184-9978805a23b0",
                    "name": "[INFO]LogMessage - SUCCESS",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "081ea459-bf2e-3da5-9bb2-2bd45481b634",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "64f485b0-c7b6-37b0-8a10-28c78258a2b7",
                    "id": "54a48f48-3e0c-30ba-84bf-1b1069ff4681",
                    "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 3439.946533203125,
                        "y": 2032.91943359375
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "87964fb2-077b-3f2a-b6a2-d1d5d22fb883",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "35c8218c-1070-3c8a-a259-1f956bf51fc3",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "f99d37b5-c6f4-3a43-a504-0268566bf257",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "78dac5c2-cfb1-358e-b2d4-aebaac8c5683",
                    "name": "PutEmail",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "307262b5-7d14-3265-b82e-1d79355932a3",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8b7c6f33-a13e-3f62-a3b1-83384c67efcd",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "3797dfc4-f460-39ab-b52c-072feb4dec3d",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "f6b5adb5-5f5e-3bbf-ba58-34136d8ded53",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "2b1f34a6-9a56-3289-ba3b-7076ddcf1571",
                    "name": "Log incoming data",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 3443.731201171875,
                        "y": 2201.684814453125
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "87964fb2-077b-3f2a-b6a2-d1d5d22fb883",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "1e4f684e-69a5-36db-9511-2ba79599f0e8",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "af342451-dcfa-318f-b137-48e9ff6ed75d",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2813.5400390625,
                        "y": 1854.718994140625
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "6a7aaa07-471c-3eaa-ba5d-845bb9af06cd",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "3423e854-c767-347f-a972-53064f4909b0",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "64f485b0-c7b6-37b0-8a10-28c78258a2b7",
                    "id": "cf4f3c69-2232-3b90-9fce-e8e7ee21b520",
                    "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "fe7f7e83-905d-3232-8911-e6b5491af05c",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "df3d4a46-84a5-30ea-8f45-2977d27c8f3e",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "amount"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "efb95b6c-fd99-3b10-9aad-088f3d202415",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "c7519250-e568-3e7b-8bff-1528d8e55309",
                    "name": "LogMessage(ERROR)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "43ea394a-8feb-32ca-8485-8a2839569835",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "3797dfc4-f460-39ab-b52c-072feb4dec3d",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "a561ca71-5639-39f2-8a8d-3ed53791bfde",
                    "name": "[INFO]LogMessage - SUCCESS",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "a0e21b7e-d8b1-3330-8570-450d10e9862c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "78dac5c2-cfb1-358e-b2d4-aebaac8c5683",
                    "name": "PutEmail",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "eb073343-810c-35c9-a68b-f0b96ef95510",
                    "name": "DuplicateFlowFile",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "181becbe-93a7-33bc-970f-6e7ea5d86fe4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "efb95b6c-fd99-3b10-9aad-088f3d202415",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "64f485b0-c7b6-37b0-8a10-28c78258a2b7",
                    "id": "79582cdb-caf8-311b-be96-be67eb1aa347",
                    "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "59e608e5-5489-3fef-8d3d-d544f66b3812",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "7ba4504b-6f19-333c-b5c2-2c9875c3e89a",
                    "name": "UpdateAttribute for InvokeHTTP",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "8b922e0a-420a-364f-b7df-082fc7b42127",
                    "name": "PROCESS_ID, BONUS and defaults",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "d22065a5-0bd5-33e9-936d-2b2dc8bb87c7",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "3797dfc4-f460-39ab-b52c-072feb4dec3d",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 2808.470947265625,
                        "y": 1727.985107421875
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "6a7aaa07-471c-3eaa-ba5d-845bb9af06cd",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "2f313e24-efc2-335d-9cab-96a5b74989c1",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "64f485b0-c7b6-37b0-8a10-28c78258a2b7",
                    "id": "1898e782-fae9-3014-8466-1ef1f9b0f2c4",
                    "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "78dac5c2-cfb1-358e-b2d4-aebaac8c5683",
                    "name": "PutEmail",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "ba9b687b-5a73-3895-9b74-d7c4aa98a2dd",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                    "id": "2ceb24b5-40b2-3b04-8e49-42974001e057",
                    "name": "UpdateAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "fe7f7e83-905d-3232-8911-e6b5491af05c",
                "position": {
                    "x": 2433.4483227516416,
                    "y": 1113.553254844163
                }
            },
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "0b3f8a6b-dccf-3941-a3e5-6d6055f986c6",
                "position": {
                    "x": 4101.088412071539,
                    "y": 2391.089924249687
                }
            }
        ],
        "identifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
        "inputPorts": [],
        "labels": [],
        "name": "SbTechVirtualShopBonusApi",
        "outputPorts": [],
        "position": {
            "x": 1147.7754865435609,
            "y": 295.81905168806
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "64f485b0-c7b6-37b0-8a10-28c78258a2b7",
                "inputPorts": [],
                "labels": [],
                "name": "InvokeSbTechApi",
                "outputPorts": [],
                "position": {
                    "x": 2266.5058910085277,
                    "y": 1704.4852650477956
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "977ac4df-ef93-59d2-a39d-b192ff7665d2",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 6
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "8b7c6f33-a13e-3f62-a3b1-83384c67efcd",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2750.233854047357,
                    "y": 2391.629047858214
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "product_title": "Casino Bonus (R)SNCASINO"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "product_title": {
                        "displayName": "product_title",
                        "identifiesControllerService": false,
                        "name": "product_title",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "49193d57-b3fe-3868-820b-f8192bc18429",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 3588.2559843033446,
                    "y": 2651.5518095660036
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to give BonusApi BONUS",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "6a7aaa07-471c-3eaa-ba5d-845bb9af06cd",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2960.0346853213628,
                    "y": 1719.4422962977956
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to give BonusApi BONUS",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "eb073343-810c-35c9-a68b-f0b96ef95510",
                "name": "DuplicateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2934.168450772816,
                    "y": 863.0427677855675
                },
                "properties": {
                    "Number of Copies": "${amount:minus(1)}"
                },
                "propertyDescriptors": {
                    "Number of Copies": {
                        "displayName": "Number of Copies",
                        "identifiesControllerService": false,
                        "name": "Number of Copies",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.DuplicateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "a561ca71-5639-39f2-8a8d-3ed53791bfde",
                "name": "[INFO]LogMessage - SUCCESS",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2959.086414189969,
                    "y": 2938.0967476388996
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Message success",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "8a2a3edc-7aa2-3f3f-a240-36d858663f51",
                "name": "LogMessage(ERROR)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1608.6768358844588,
                    "y": 1269.7300665473183
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to extract JSON params from ${kafka.topic} at ${kafka.offset}",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "7ba4504b-6f19-333c-b5c2-2c9875c3e89a",
                "name": "UpdateAttribute for InvokeHTTP",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2284.9980604150405,
                    "y": 1475.091315540838
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "http_invoke.method": "POST",
                    "http_invoke.mime_type": "application/json",
                    "http_invoke.original_target_url": "${SB_TECH_BONUS_API_URL}/data/givebonus"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "http_invoke.method": {
                        "displayName": "http_invoke.method",
                        "identifiesControllerService": false,
                        "name": "http_invoke.method",
                        "sensitive": false
                    },
                    "http_invoke.mime_type": {
                        "displayName": "http_invoke.mime_type",
                        "identifiesControllerService": false,
                        "name": "http_invoke.mime_type",
                        "sensitive": false
                    },
                    "http_invoke.original_target_url": {
                        "displayName": "http_invoke.original_target_url",
                        "identifiesControllerService": false,
                        "name": "http_invoke.original_target_url",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "2b1f34a6-9a56-3289-ba3b-7076ddcf1571",
                "name": "Log incoming data",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2282.4538890554027,
                    "y": 250.0373654477596
                },
                "properties": {
                    "Attributes to Log": "uuid",
                    "Log Level": "info",
                    "Log Payload": "true",
                    "Log prefix": "[ProcessController][VirtualShopBonusApi] ",
                    "attributes-to-log-regex": ".*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-kafka-2-0-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "debba797-d327-3cc7-9cff-fe5be19871ec",
                "name": "gmx-messaging.virtual-shop-post-purchase-line",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2289.6689124953095,
                    "y": -196.61160024367973
                },
                "properties": {
                    "Communications Timeout": "60 secs",
                    "auto.offset.reset": "latest",
                    "bootstrap.servers": "${KAFKA_HOST}:${KAFKA_PORT}",
                    "group.id": "nifi.${KAFKA_GROUP_ID_SUFIX}",
                    "honor-transactions": "true",
                    "key-attribute-encoding": "utf-8",
                    "max-uncommit-offset-wait": "1 secs",
                    "max.poll.records": "1",
                    "message-header-encoding": "UTF-8",
                    "security.protocol": "PLAINTEXT",
                    "topic": "gmx-messaging.virtual-shop-post-purchase-line",
                    "topic_type": "names"
                },
                "propertyDescriptors": {
                    "Communications Timeout": {
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "name": "Communications Timeout",
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "name": "auto.offset.reset",
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "name": "bootstrap.servers",
                        "sensitive": false
                    },
                    "group.id": {
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "name": "group.id",
                        "sensitive": false
                    },
                    "header-name-regex": {
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "name": "header-name-regex",
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "name": "honor-transactions",
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "name": "kerberos-credentials-service",
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "name": "key-attribute-encoding",
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "name": "max-uncommit-offset-wait",
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "name": "max.poll.records",
                        "sensitive": false
                    },
                    "message-demarcator": {
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "name": "message-demarcator",
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "name": "message-header-encoding",
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.keytab",
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.principal",
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "name": "sasl.kerberos.service.name",
                        "sensitive": false
                    },
                    "security.protocol": {
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "name": "security.protocol",
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "name": "ssl.context.service",
                        "sensitive": false
                    },
                    "topic": {
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "name": "topic",
                        "sensitive": false
                    },
                    "topic_type": {
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "name": "topic_type",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "2ceb24b5-40b2-3b04-8e49-42974001e057",
                "name": "UpdateAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 3178.797574750482,
                    "y": 2391.629047858214
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "product_title": "Free Bet (R)SNREWARDFB"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "product_title": {
                        "displayName": "product_title",
                        "identifiesControllerService": false,
                        "name": "product_title",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "3797dfc4-f460-39ab-b52c-072feb4dec3d",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2283.7988597585277,
                    "y": 454.68434799718057
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "PROCESS_ID": "$.process_id",
                    "Path Not Found Behavior": "warn",
                    "Return Type": "scalar",
                    "amount": "$.amount",
                    "bonus_id": "$.bonus_id",
                    "company_id": "$.company_id",
                    "external_user_id": "$.external_user_id",
                    "order_line_uid": "$.order_line_uid",
                    "transaction_id": "$.transaction_id",
                    "user_sub": "$.user_sub"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "amount": {
                        "displayName": "amount",
                        "identifiesControllerService": false,
                        "name": "amount",
                        "sensitive": false
                    },
                    "bonus_id": {
                        "displayName": "bonus_id",
                        "identifiesControllerService": false,
                        "name": "bonus_id",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    },
                    "order_line_uid": {
                        "displayName": "order_line_uid",
                        "identifiesControllerService": false,
                        "name": "order_line_uid",
                        "sensitive": false
                    },
                    "transaction_id": {
                        "displayName": "transaction_id",
                        "identifiesControllerService": false,
                        "name": "transaction_id",
                        "sensitive": false
                    },
                    "user_sub": {
                        "displayName": "user_sub",
                        "identifiesControllerService": false,
                        "name": "user_sub",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "c7519250-e568-3e7b-8bff-1528d8e55309",
                "name": "LogMessage(ERROR)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1601.8941210407088,
                    "y": 455.41933656684955
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to extract JSON params from ${kafka.topic} at ${kafka.offset}",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "00e2959f-a8dc-3eee-81af-c1c8d35eb3e3",
                "name": "ReplaceText",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2283.2260089731167,
                    "y": 1266.5781785931051
                },
                "properties": {
                    "Character Set": "UTF-8",
                    "Evaluation Mode": "Entire text",
                    "Maximum Buffer Size": "1 MB",
                    "Regular Expression": "(?s)(^.*$)",
                    "Replacement Strategy": "Always Replace",
                    "Replacement Value": "\"{\\\"CustomerID\\\":${external_user_id},\\\"Amount\\\":${bonus_value},\\\"BonusID\\\":${bonus_code}}\""
                },
                "propertyDescriptors": {
                    "Character Set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "Character Set",
                        "sensitive": false
                    },
                    "Evaluation Mode": {
                        "displayName": "Evaluation Mode",
                        "identifiesControllerService": false,
                        "name": "Evaluation Mode",
                        "sensitive": false
                    },
                    "Maximum Buffer Size": {
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "name": "Maximum Buffer Size",
                        "sensitive": false
                    },
                    "Regular Expression": {
                        "displayName": "Search Value",
                        "identifiesControllerService": false,
                        "name": "Regular Expression",
                        "sensitive": false
                    },
                    "Replacement Strategy": {
                        "displayName": "Replacement Strategy",
                        "identifiesControllerService": false,
                        "name": "Replacement Strategy",
                        "sensitive": false
                    },
                    "Replacement Value": {
                        "displayName": "Replacement Value",
                        "identifiesControllerService": false,
                        "name": "Replacement Value",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.ReplaceText",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "f99d37b5-c6f4-3a43-a504-0268566bf257",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2960.0346853213628,
                    "y": 1966.9618375461841
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "invokehttp.response.body": "${invokehttp.response.body:contains(-40)}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "invokehttp.response.body": {
                        "displayName": "invokehttp.response.body",
                        "identifiesControllerService": false,
                        "name": "invokehttp.response.body",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "87964fb2-077b-3f2a-b6a2-d1d5d22fb883",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 3588.2559843033446,
                    "y": 2048.1598255946706
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to give BonusApi BONUS",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi][${PROCESS_ID}][${ORDER_LINE_UID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-avro-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "fe28f807-43ae-31bd-a8b0-a074adff896b",
                "name": "Parse ARVO virtual_shop.bonus_api",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2284.5966927541344,
                    "y": 35.25829421247124
                },
                "properties": {
                    "Avro schema": "{\n    \"type\": \"record\",\n    \"name\": \"SbTechBonusCode\",\n    \"namespace\": \"net.flipsports.gmx.virtualshop.sbtech.api\",\n    \"fields\": [\n        {\n            \"name\": \"company_id\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"user_sub\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"external_user_id\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"bonus_id\",\n            \"type\": [\"string\", \"null\"]\n        },\n        {\n            \"name\": \"bonus_type\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"amount\",\n            \"type\": [\"string\",\"int\"]\n        },\n        {\n            \"name\": \"process_id\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"order_line_uid\",\n            \"type\": \"string\"\n        },\n        {\n            \"name\": \"transaction_id\",\n            \"type\": \"string\"\n        }\n    ]\n}",
                    "JSON container options": "none",
                    "Wrap Single Record": "false"
                },
                "propertyDescriptors": {
                    "Avro schema": {
                        "displayName": "Avro schema",
                        "identifiesControllerService": false,
                        "name": "Avro schema",
                        "sensitive": false
                    },
                    "JSON container options": {
                        "displayName": "JSON container options",
                        "identifiesControllerService": false,
                        "name": "JSON container options",
                        "sensitive": false
                    },
                    "Wrap Single Record": {
                        "displayName": "Wrap Single Record",
                        "identifiesControllerService": false,
                        "name": "Wrap Single Record",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.avro.ConvertAvroToJSON",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "78dac5c2-cfb1-358e-b2d4-aebaac8c5683",
                "name": "PutEmail",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2959.086414189969,
                    "y": 2651.5518095660036
                },
                "properties": {
                    "Attach File": "false",
                    "BCC": "maciej.krzanowski@flipsports.com",
                    "CC": "admin@flipsports.com",
                    "Content Type": "text/plain",
                    "From": "rmx@flipsports.net",
                    "Include All Attributes In Message": "false",
                    "Message": "Virtual Store transaction has failed due to user account bonus restrictions. Automatic crediting is not possible and requires manual intervention.\n\nExternal User ID: ${external_user_id}\nTransaction ID: ${transaction_id}\nOperator: ${company_id}\n\nPurchased product:\n\n${product_title} - ${bonus_code} - ${bonus_value} GBP\n\nIn case of any issues, please create a ticket in Jira Argyll Customer Service project with the transaction ID in the title. \n\nKind regards,\nRewards Matrix Team",
                    "SMTP Auth": "true",
                    "SMTP Hostname": "smtp.sendgrid.net",
                    "SMTP Port": "587",
                    "SMTP Socket Factory": "javax.net.ssl.SSLSocketFactory",
                    "SMTP TLS": "true",
                    "SMTP Username": "apikey",
                    "SMTP X-Mailer Header": "NiFi",
                    "Subject": " Rewards Matrix - Virtual Store Transaction Pending for user ${external_user_id}",
                    "To": "help@sportnation.bet",
                    "email-ff-content-as-message": "false"
                },
                "propertyDescriptors": {
                    "Attach File": {
                        "displayName": "Attach File",
                        "identifiesControllerService": false,
                        "name": "Attach File",
                        "sensitive": false
                    },
                    "BCC": {
                        "displayName": "BCC",
                        "identifiesControllerService": false,
                        "name": "BCC",
                        "sensitive": false
                    },
                    "CC": {
                        "displayName": "CC",
                        "identifiesControllerService": false,
                        "name": "CC",
                        "sensitive": false
                    },
                    "Content Type": {
                        "displayName": "Content Type",
                        "identifiesControllerService": false,
                        "name": "Content Type",
                        "sensitive": false
                    },
                    "From": {
                        "displayName": "From",
                        "identifiesControllerService": false,
                        "name": "From",
                        "sensitive": false
                    },
                    "Include All Attributes In Message": {
                        "displayName": "Include All Attributes In Message",
                        "identifiesControllerService": false,
                        "name": "Include All Attributes In Message",
                        "sensitive": false
                    },
                    "Message": {
                        "displayName": "Message",
                        "identifiesControllerService": false,
                        "name": "Message",
                        "sensitive": false
                    },
                    "SMTP Auth": {
                        "displayName": "SMTP Auth",
                        "identifiesControllerService": false,
                        "name": "SMTP Auth",
                        "sensitive": false
                    },
                    "SMTP Hostname": {
                        "displayName": "SMTP Hostname",
                        "identifiesControllerService": false,
                        "name": "SMTP Hostname",
                        "sensitive": false
                    },
                    "SMTP Password": {
                        "displayName": "SMTP Password",
                        "identifiesControllerService": false,
                        "name": "SMTP Password",
                        "sensitive": false
                    },
                    "SMTP Port": {
                        "displayName": "SMTP Port",
                        "identifiesControllerService": false,
                        "name": "SMTP Port",
                        "sensitive": false
                    },
                    "SMTP Socket Factory": {
                        "displayName": "SMTP Socket Factory",
                        "identifiesControllerService": false,
                        "name": "SMTP Socket Factory",
                        "sensitive": false
                    },
                    "SMTP TLS": {
                        "displayName": "SMTP TLS",
                        "identifiesControllerService": false,
                        "name": "SMTP TLS",
                        "sensitive": false
                    },
                    "SMTP Username": {
                        "displayName": "SMTP Username",
                        "identifiesControllerService": false,
                        "name": "SMTP Username",
                        "sensitive": false
                    },
                    "SMTP X-Mailer Header": {
                        "displayName": "SMTP X-Mailer Header",
                        "identifiesControllerService": false,
                        "name": "SMTP X-Mailer Header",
                        "sensitive": false
                    },
                    "Subject": {
                        "displayName": "Subject",
                        "identifiesControllerService": false,
                        "name": "Subject",
                        "sensitive": false
                    },
                    "To": {
                        "displayName": "To",
                        "identifiesControllerService": false,
                        "name": "To",
                        "sensitive": false
                    },
                    "attribute-name-regex": {
                        "displayName": "Attributes to Send as Headers (Regex)",
                        "identifiesControllerService": false,
                        "name": "attribute-name-regex",
                        "sensitive": false
                    },
                    "email-ff-content-as-message": {
                        "displayName": "Flow file content as message",
                        "identifiesControllerService": false,
                        "name": "email-ff-content-as-message",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutEmail",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "efb95b6c-fd99-3b10-9aad-088f3d202415",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2284.2088099359844,
                    "y": 863.6562520801458
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "amount": "${amount:equals(1)}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "amount": {
                        "displayName": "amount",
                        "identifiesControllerService": false,
                        "name": "amount",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "af342451-dcfa-318f-b137-48e9ff6ed75d",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2960.0346853213628,
                    "y": 2181.6335904758716
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "product_title_CB": "${bonus_code:equals(61361)}",
                    "product_title_FB": "${bonus_code:equals(29021)}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "product_title_CB": {
                        "displayName": "product_title_CB",
                        "identifiesControllerService": false,
                        "name": "product_title_CB",
                        "sensitive": false
                    },
                    "product_title_FB": {
                        "displayName": "product_title_FB",
                        "identifiesControllerService": false,
                        "name": "product_title_FB",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "cd1fe6cf-d026-3b16-9256-226ffcca6fa3",
                "name": "TESTING(GenerateFlowFile)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2942.2304903311638,
                    "y": 252.84147506730187
                },
                "properties": {
                    "Batch Size": "1",
                    "Data Format": "Text",
                    "File Size": "0B",
                    "Unique FlowFiles": "false",
                    "character-set": "UTF-8",
                    "generate-ff-custom-text": "{\n  \"company_id\" : \"SportNation\",\n  \"user_sub\" : \"rmx_505fcb82bd184ab4b772678ba033ad5b\",\n  \"bonus_id\" : \"29021:1.00\",\n  \"bonus_type\" : \"SB_TECH_BONUS_API\",\n  \"amount\" : 2,\n  \"process_id\" : \"vsp-e6a1e7ee64684e8a95fa44671d9275c2\",\n  \"order_line_uid\" : \"a4034133-6c1c-47f0-9b8b-209e2de43745\",\n  \"external_user_id\": \"13389329\"\n}"
                },
                "propertyDescriptors": {
                    "Batch Size": {
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "name": "Batch Size",
                        "sensitive": false
                    },
                    "Data Format": {
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "name": "Data Format",
                        "sensitive": false
                    },
                    "File Size": {
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "name": "File Size",
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "name": "Unique FlowFiles",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "name": "generate-ff-custom-text",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "48e954e3-c4dd-3c8c-8e35-d52ec900e059",
                "name": "LogMessage(ERROR)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1603.6703661578963,
                    "y": 39.003553638382755
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to parse AVRO message from ${kafka.topic} at ${kafka.offset}",
                    "log-prefix": "[ProcessController][VirtualShopBonusApi] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "6affacdf-3e89-3f74-8184-9978805a23b0",
                "name": "[INFO]LogMessage - SUCCESS",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2282.626955983032,
                    "y": 1959.4378540377347
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Message success",
                    "log-prefix": "[ProcessController][ReferralBonus][${PROCESS_ID}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "954ee6bf-fe0c-372b-a12e-a1214603720f",
                "identifier": "8b922e0a-420a-364f-b7df-082fc7b42127",
                "name": "PROCESS_ID, BONUS and defaults",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 2284.334714055204,
                    "y": 658.868808453671
                },
                "properties": {
                    "ID_TOKEN_KEY": "SB_TECH_SESSION_ID_SN",
                    "PROCESS_ID": "${PROCESS_ID:replaceEmpty(${UUID():prepend('VIRTUAL_SHOP_BONUS_API_')})}",
                    "Store State": "Do not store state",
                    "bonus_code": "${bonus_id:getDelimitedField(1, ':')}",
                    "bonus_value": "${bonus_id:getDelimitedField(2, ':')}",
                    "canonical-value-lookup-cache-size": "0"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "ID_TOKEN_KEY": {
                        "displayName": "ID_TOKEN_KEY",
                        "identifiesControllerService": false,
                        "name": "ID_TOKEN_KEY",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "bonus_code": {
                        "displayName": "bonus_code",
                        "identifiesControllerService": false,
                        "name": "bonus_code",
                        "sensitive": false
                    },
                    "bonus_value": {
                        "displayName": "bonus_value",
                        "identifiesControllerService": false,
                        "name": "bonus_value",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "new topic name",
        "flowIdentifier": "1b7f4cdc-2aa4-5091-bedf-bfcbef815e6a",
        "timestamp": 1565125977401,
        "version": 6
    }
}