archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/ParseCsvCustomerDetails/000000001.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1556899464405,
        "description": "",
        "identifier": "a35c6e10-9a99-5c78-930c-9670b374bffb",
        "modifiedTimestamp": 1558543229916,
        "name": "ParseCsvCustomerDetails",
        "type": "Flow",
        "versionCount": 2
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "407a48f9-93c9-312f-9b3f-428111abcf61",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "58042fcc-e37b-33c1-a95b-ffebe01affd7",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "groupId": "e1a4d3ad-ceb4-39dc-9d32-fc4f26c02946",
                    "id": "84fd3e03-91f2-366f-ba94-bf70cbf42040",
                    "name": "start",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "8268582e-a681-378d-bca9-d2a7fd17b66b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "5e8087eb-b2a8-3e78-aed8-03de1d31a8c0",
                    "name": "input",
                    "type": "INPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 599.9886882801763,
                        "y": 112.31082828660135
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "6ea33046-d4ca-3c07-af0d-9f29bb3c9438",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "407a48f9-93c9-312f-9b3f-428111abcf61",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "7ae7bb51-a3e5-3454-9d05-0e19f5ad9f2e",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "bb2f3c10-61d2-33f2-8a1f-48a0a65b7608",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "groupId": "e1a4d3ad-ceb4-39dc-9d32-fc4f26c02946",
                    "id": "4afb4ebd-b6b2-3d3b-8ea0-a4d53573da81",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "efc93338-f152-3894-b864-f6b5ba688848",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "7ae7bb51-a3e5-3454-9d05-0e19f5ad9f2e",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": -853.2718557546452,
                        "y": 108.42324111671877
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "24372dea-e947-32eb-8ee6-fe5bd1ef6ea5",
                    "name": "VIP field fix",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "f45764c9-8ff8-3c58-8d1d-35eaa74ad317",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "611c321c-2309-3caa-8ba6-47a264630a55",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "09414c8a-b8d5-3219-8b33-c901da91dddb",
                    "name": "[WARN]LogMessage - Ignore GiveMeBet",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "8ab24882-6f70-339f-a563-e5f71f10e284",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Givemebet"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "d471d806-8ec2-3406-8e4c-2ddf1b95877e",
                    "name": "UpdateAttribute(SportNation)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "0ba7be21-b1b9-3f85-962c-3685aecfc47f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Sportnation"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 672.2490844726562,
                        "y": 595.4982299804688
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "56a98da9-1387-36ee-a369-a1ab12367221",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "09daaad1-4813-37f4-9e82-d16853c352f2",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "d471d806-8ec2-3406-8e4c-2ddf1b95877e",
                    "name": "UpdateAttribute(SportNation)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "0759d610-e2fc-370e-b2ed-8189710c3453",
                    "name": "UpdateAttribute(RedZone)",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "7f580f4a-033e-3635-aebf-15017915a8d5",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "Redzone"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "b942c261-68b9-35fd-a047-790e1beea252",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "22b56ba0-2e7c-39bb-a0a9-67c6d728c7a8",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "56a98da9-1387-36ee-a369-a1ab12367221",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "939d278a-4816-35b1-9b4b-3d52b63ab684",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "6efaf4f0-d0d2-3093-a47f-06dbd06a693f",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "7ae7bb51-a3e5-3454-9d05-0e19f5ad9f2e",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "56a98da9-1387-36ee-a369-a1ab12367221",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "31a8144e-15d9-3088-af86-8b9ee281f424",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "0759d610-e2fc-370e-b2ed-8189710c3453",
                    "name": "UpdateAttribute(RedZone)",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "24372dea-e947-32eb-8ee6-fe5bd1ef6ea5",
                    "name": "VIP field fix",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "daa9a8e1-b136-35ad-ba5e-a384040975b3",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "VIP_FIX"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 595.2624955942317,
                        "y": -97.65876545695829
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "7ae7bb51-a3e5-3454-9d05-0e19f5ad9f2e",
                    "name": "EvaluateJsonPath",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "279929b0-2b0b-3f9b-8560-f001f92e170c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "939d278a-4816-35b1-9b4b-3d52b63ab684",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": -120.859130859375,
                        "y": 114.72827911376953
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "edf153af-0caf-39d3-80b9-4edba459b695",
                    "name": "RouteOnAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "273ceab2-dad0-35f8-b8e4-bc197edacade",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "matched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "24372dea-e947-32eb-8ee6-fe5bd1ef6ea5",
                    "name": "VIP field fix",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "611c321c-2309-3caa-8ba6-47a264630a55",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "ab43ee91-f104-3aad-85b4-978527d9f7a9",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "source": {
                    "comments": "",
                    "groupId": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                    "id": "24372dea-e947-32eb-8ee6-fe5bd1ef6ea5",
                    "name": "VIP field fix",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "56a98da9-1387-36ee-a369-a1ab12367221",
                "position": {
                    "x": 266.5841389388852,
                    "y": 679.912127535398
                }
            }
        ],
        "identifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
        "inputPorts": [
            {
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "5e8087eb-b2a8-3e78-aed8-03de1d31a8c0",
                "name": "input",
                "position": {
                    "x": 156.05309825891356,
                    "y": -477.1476498644379
                },
                "type": "INPUT_PORT"
            }
        ],
        "labels": [],
        "name": "ParseCsvCustomerDetails",
        "outputPorts": [
            {
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "b942c261-68b9-35fd-a047-790e1beea252",
                "name": "output",
                "position": {
                    "x": 170.2197913721368,
                    "y": 783.3940495727572
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1003.5813131180341,
            "y": 223.87596251419586
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "e1a4d3ad-ceb4-39dc-9d32-fc4f26c02946",
                "inputPorts": [],
                "labels": [],
                "name": "CsvSplitToJSON",
                "outputPorts": [],
                "position": {
                    "x": 84.88523613493817,
                    "y": -334.5506306263003
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "ac51e628-b451-5fc6-ab82-6396c442ce9a",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 2
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "611c321c-2309-3caa-8ba6-47a264630a55",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -1358.7802086278632,
                    "y": 118.89404957275724
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to evaluateJsonPath for VIP FIX",
                    "log-prefix": "[ParseCSVCustomerDetails][${filename}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "7ae7bb51-a3e5-3454-9d05-0e19f5ad9f2e",
                "name": "EvaluateJsonPath",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 105.30519981632665,
                    "y": -87.21158048667382
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "Return Type": "scalar",
                    "VIP": "$.VIP",
                    "email": "$.Email",
                    "external_user_id": "$.CustomerID",
                    "operator": "$.Operator"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "VIP": {
                        "displayName": "VIP",
                        "identifiesControllerService": false,
                        "name": "VIP",
                        "sensitive": false
                    },
                    "email": {
                        "displayName": "email",
                        "identifiesControllerService": false,
                        "name": "email",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    },
                    "operator": {
                        "displayName": "operator",
                        "identifiesControllerService": false,
                        "name": "operator",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "edf153af-0caf-39d3-80b9-4edba459b695",
                "name": "RouteOnAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 112.52711643821567,
                    "y": 120.94044040498648
                },
                "properties": {
                    "Givemebet": "${operator:equals('Givemebet')}",
                    "Redzone": "${operator:equals('Redzonesports')}",
                    "Routing Strategy": "Route to Property name",
                    "Sportnation": "${operator:equals('Sportnation')}",
                    "VIP_FIX": "${VIP:equals('Redzonesports'):or(${VIP:equals('Sportnation')})}"
                },
                "propertyDescriptors": {
                    "Givemebet": {
                        "displayName": "Givemebet",
                        "identifiesControllerService": false,
                        "name": "Givemebet",
                        "sensitive": false
                    },
                    "Redzone": {
                        "displayName": "Redzone",
                        "identifiesControllerService": false,
                        "name": "Redzone",
                        "sensitive": false
                    },
                    "Routing Strategy": {
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "name": "Routing Strategy",
                        "sensitive": false
                    },
                    "Sportnation": {
                        "displayName": "Sportnation",
                        "identifiesControllerService": false,
                        "name": "Sportnation",
                        "sensitive": false
                    },
                    "VIP_FIX": {
                        "displayName": "VIP_FIX",
                        "identifiesControllerService": false,
                        "name": "VIP_FIX",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "ERROR",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "09414c8a-b8d5-3219-8b33-c901da91dddb",
                "name": "[WARN]LogMessage - Ignore GiveMeBet",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -694.0848579808905,
                    "y": 380.4698056457553
                },
                "properties": {
                    "log-level": "warn",
                    "log-message": "Ignoring Givemebet customer",
                    "log-prefix": "[ParseCSVCustomerDetails][${filename}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "939d278a-4816-35b1-9b4b-3d52b63ab684",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 735.2197913721368,
                    "y": -88.10595042724276
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to evaluateJsonPath!",
                    "log-prefix": "[ParseCSVCustomerDetails][${filename}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "d471d806-8ec2-3406-8e4c-2ddf1b95877e",
                "name": "UpdateAttribute(SportNation)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 627.0606416443052,
                    "y": 382.4325570535775
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "company_id": "9577609b-d14f-4f14-ae6d-a6de017e8254"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "407a48f9-93c9-312f-9b3f-428111abcf61",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 737.4502601221368,
                    "y": 123.68121616821622
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unknown company found!",
                    "log-prefix": "[ParseCSVCustomerDetails][${filename}] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "24372dea-e947-32eb-8ee6-fe5bd1ef6ea5",
                "name": "VIP field fix",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": -697.7635028814273,
                    "y": 117.9524326606803
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "Return Type": "scalar",
                    "email": "$.Email",
                    "external_user_id": "$.CustomerID",
                    "operator": "$.VIP"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "Destination",
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "name": "Null Value Representation",
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "name": "Path Not Found Behavior",
                        "sensitive": false
                    },
                    "Return Type": {
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "name": "Return Type",
                        "sensitive": false
                    },
                    "email": {
                        "displayName": "email",
                        "identifiesControllerService": false,
                        "name": "email",
                        "sensitive": false
                    },
                    "external_user_id": {
                        "displayName": "external_user_id",
                        "identifiesControllerService": false,
                        "name": "external_user_id",
                        "sensitive": false
                    },
                    "operator": {
                        "displayName": "operator",
                        "identifiesControllerService": false,
                        "name": "operator",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "e87a5f8d-8deb-3e3a-b988-e808d0707d9d",
                "identifier": "0759d610-e2fc-370e-b2ed-8189710c3453",
                "name": "UpdateAttribute(RedZone)",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 113.70936906129737,
                    "y": 382.5397042703744
                },
                "properties": {
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "company_id": "7b4b7e86-d9df-44e0-9170-dbfdd5a176fa"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    },
                    "company_id": {
                        "displayName": "company_id",
                        "identifiesControllerService": false,
                        "name": "company_id",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "",
        "flowIdentifier": "a35c6e10-9a99-5c78-930c-9670b374bffb",
        "timestamp": 1556899464415,
        "version": 1
    }
}