archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/ProcessGetOrCreateExtUser/000000003.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1555593152064,
        "description": "",
        "identifier": "aab64309-2f04-5f3e-b43c-7ad78d2b620a",
        "modifiedTimestamp": 1574851919548,
        "name": "ProcessGetOrCreateExtUser",
        "type": "Flow",
        "versionCount": 9
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "33590458-16d2-3227-aa2c-0cb8c7a0aefe",
                    "id": "cdf8d234-226d-3d39-9779-e19c2d99e1c5",
                    "name": "start (cdf8d234-226d-3d39-9779-e19c2d99e1c5)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "401d8853-dfb4-3a72-990f-e5a693f80e42",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "920fca16-be7e-33d0-a0f3-507a0ccac282",
                    "name": "PROCESS_ID and defaults",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 699.9942016601562,
                        "y": 1425.6785888671875
                    },
                    {
                        "x": 700.4420368254291,
                        "y": 1307.7057586598953
                    },
                    {
                        "x": 701.9331665039062,
                        "y": 1189.5560302734375
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "33590458-16d2-3227-aa2c-0cb8c7a0aefe",
                    "id": "cdf8d234-226d-3d39-9779-e19c2d99e1c5",
                    "name": "start (cdf8d234-226d-3d39-9779-e19c2d99e1c5)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "cd01e19c-1c21-3f0a-a83c-7e411a68ea09",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "bb02c4d6-977b-3cdd-8a4f-0bf31f7e57a5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "920fca16-be7e-33d0-a0f3-507a0ccac282",
                    "name": "PROCESS_ID and defaults",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "c5394ecf-a93f-3b10-a9dd-b769d9169533",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "06cef334-936e-3d1d-a189-36c62dcd9ad5",
                    "name": "input",
                    "type": "INPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "798e58dd-2412-3e12-b6b1-b2eceea7edd9",
                    "name": "success",
                    "type": "OUTPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "87b378e0-e4aa-33cf-bfad-2dc9f575eef6",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "33590458-16d2-3227-aa2c-0cb8c7a0aefe",
                    "id": "b8dc0634-922e-37c1-8b4b-7d963e7e16c3",
                    "name": "output (b8dc0634-922e-37c1-8b4b-7d963e7e16c3)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 1000000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                    "id": "bb02c4d6-977b-3cdd-8a4f-0bf31f7e57a5",
                    "name": "[ERROR]LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "0b666338-8138-382e-ae8a-07b603a8055a",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "33590458-16d2-3227-aa2c-0cb8c7a0aefe",
                    "id": "30f4af3a-6c63-3ea3-98b6-12249b0ff8f4",
                    "name": "error (30f4af3a-6c63-3ea3-98b6-12249b0ff8f4)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [],
        "identifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
        "inputPorts": [
            {
                "componentType": "INPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "06cef334-936e-3d1d-a189-36c62dcd9ad5",
                "name": "input",
                "position": {
                    "x": 963.9894685764796,
                    "y": 722.447398137947
                },
                "type": "INPUT_PORT"
            }
        ],
        "labels": [],
        "name": "ProcessGetOrCreateExtUser",
        "outputPorts": [
            {
                "componentType": "OUTPUT_PORT",
                "concurrentlySchedulableTaskCount": 1,
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "798e58dd-2412-3e12-b6b1-b2eceea7edd9",
                "name": "success",
                "position": {
                    "x": 1561.165699943694,
                    "y": 1159.070126146515
                },
                "type": "OUTPUT_PORT"
            }
        ],
        "position": {
            "x": 1285.9268349516005,
            "y": 665.3393646567488
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "33590458-16d2-3227-aa2c-0cb8c7a0aefe",
                "inputPorts": [],
                "labels": [],
                "name": "GetUserSub",
                "outputPorts": [],
                "position": {
                    "x": 890.8831909061137,
                    "y": 1101.364125728981
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "0267476f-8166-531a-bafe-732a478a7d96",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 2
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "920fca16-be7e-33d0-a0f3-507a0ccac282",
                "name": "PROCESS_ID and defaults",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 907.5028048755166,
                    "y": 847.2393195086638
                },
                "properties": {
                    "ID_TOKEN_KEY": "GET_OR_CREATE_EXT_USER",
                    "PROCESS_ID": "GET_OR_CREATE_EXT_USER_${UUID()}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "0"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "ID_TOKEN_KEY": {
                        "displayName": "ID_TOKEN_KEY",
                        "identifiesControllerService": false,
                        "name": "ID_TOKEN_KEY",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "09f4d29c-bee8-3fb0-844e-aa62df3388aa",
                "identifier": "bb02c4d6-977b-3cdd-8a4f-0bf31f7e57a5",
                "name": "[ERROR]LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 911.7168251275571,
                    "y": 1361.3386513564344
                },
                "properties": {
                    "log-level": "error",
                    "log-message": "Unable to call GetUserSub",
                    "log-prefix": "[${PROCESS_ID}][ProcessGetOrCreateExtUser] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 1000,
                "schedulingPeriod": "300 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "improved id token handling",
        "flowIdentifier": "aab64309-2f04-5f3e-b43c-7ad78d2b620a",
        "timestamp": 1555605653166,
        "version": 3
    }
}