archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/SbTechRefreshSessionID/000000004.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1562707634180,
        "description": "",
        "identifier": "bd9894a4-06bd-500d-a773-cfe4d79dab7d",
        "modifiedTimestamp": 1574808183250,
        "name": "SbTechRefreshSessionID",
        "type": "Flow",
        "versionCount": 4
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "5cc9db3a-47c2-3032-90ad-a8fd3933ebb9",
                    "name": "LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "6b121b0f-0a31-3627-89fe-6f8cf71e9d6c",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "0ece4654-08ca-3304-b4c3-d7fe97a60a34",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 1216.1004638671875,
                        "y": 520.0437927246094
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "37f83696-2524-3774-a5a4-cb9007b39420",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "26af2326-46e9-3c23-b1e1-717809041161",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "42bfdbaa-a888-37f2-aeef-c97911019d46",
                    "name": "SportNationSessionID",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "52a3df16-959d-3994-99c1-838f7d9e1b78",
                    "name": "LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "872e5afa-5fdb-3cc4-9187-213e315393eb",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "failure"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "0ece4654-08ca-3304-b4c3-d7fe97a60a34",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "d9dc028f-5096-3aa9-a65b-977261ea15c9",
                    "name": "RedZoneSessionID",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "d8d878c5-9e29-31ad-8847-d1a9438ae1b5",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "9c96a451-4a81-3f5d-9c6b-d3e9f6f593b1",
                    "name": "GenerateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "42bfdbaa-a888-37f2-aeef-c97911019d46",
                    "name": "SportNationSessionID",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "4966e013-bc09-367c-a0a3-f36741d59d32",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "505bc93b-7662-3825-82e7-cea06b83187a",
                    "name": "GenerateFlowFile",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                    "id": "f4f95674-3d2a-3d99-a9d3-b70850983465",
                    "name": "start (02a839ec-79a4-31f6-9d71-ddd8a4f7d991)",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "3e85088c-e8a3-37f0-bcbd-5ffc24e721af",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "6e30139a-2d39-3727-8c85-998a5002e96f",
                    "name": "Set PROCESS_ID",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "b1963985-3e6f-3ae8-957e-ed544535d92f",
                    "name": "LogAttribute",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "b7725fa2-f739-3e8d-a9a4-97cf0e8a22c4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                    "id": "65bea7e6-8a8e-3fe6-91df-c1a6e08088a8",
                    "name": "errors (3b67bd98-cf87-3616-8757-9ec03749907a)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "6e30139a-2d39-3727-8c85-998a5002e96f",
                    "name": "Set PROCESS_ID",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "15afd336-71ab-3520-8624-506164d334cf",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "37f83696-2524-3774-a5a4-cb9007b39420",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "0ece4654-08ca-3304-b4c3-d7fe97a60a34",
                    "name": "PutDistributedMapCache",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "3929ec0f-48d2-3bcb-972a-1dae38a1773b",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "548099de-1487-39c6-ab5d-e5bba1b69ca3",
                    "name": "AttributesToCSV",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "548099de-1487-39c6-ab5d-e5bba1b69ca3",
                    "name": "AttributesToCSV",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "2e4e6ff4-c43d-3dbc-8899-95f34625bef4",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                    "id": "5ccf2f3e-cbe9-3d8f-8191-61d04d84143b",
                    "name": "output (ba651340-4928-3c54-ab8c-fbbd89b41e5c)",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [
                    {
                        "x": 933.32373046875,
                        "y": 517.0673828125
                    }
                ],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "37f83696-2524-3774-a5a4-cb9007b39420",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "21481ba1-252c-36cb-a5fa-c0f5c03aed2e",
                "labelIndex": 0,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    "success"
                ],
                "source": {
                    "comments": "",
                    "groupId": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                    "id": "d9dc028f-5096-3aa9-a65b-977261ea15c9",
                    "name": "RedZoneSessionID",
                    "type": "PROCESSOR"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "37f83696-2524-3774-a5a4-cb9007b39420",
                "position": {
                    "x": 1043.9999941223418,
                    "y": 600.9999641873388
                }
            }
        ],
        "identifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
        "inputPorts": [],
        "labels": [],
        "name": "SbTechRefreshSessionID",
        "outputPorts": [],
        "position": {
            "x": 1150.5451249210437,
            "y": 107.95746245240696
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "83955406-2a8b-3510-84e7-88a5e6601e04",
                            "name": "AttributesToJSON",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "4c358b7f-9904-3b7f-bea4-2c73a1196aec",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "d39d6794-ab21-3a7e-81b8-ad06c3303532",
                            "name": "UpdateAttribute for InvokeHTTP",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 1351.656776736268,
                                "y": 732.9905747670975
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5f7ebc3e-088b-37d5-8bba-07e65697221a",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "febbdbae-6398-3660-9b82-570bfc77619a",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "failure"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5b5bf6e0-c859-3c69-a9f2-6080fb7b4641",
                            "name": "Extract(sbtech_session_id)",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "d39d6794-ab21-3a7e-81b8-ad06c3303532",
                            "name": "UpdateAttribute for InvokeHTTP",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "a4eb1bbe-5704-378d-9aa9-d469bb095218",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "b4764bfd-ba5c-3cb2-92bd-7c7bd6568714",
                            "name": "[INFO]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "39e6f31a-8701-3383-a5ac-b4c3a541221e",
                            "id": "79582cdb-caf8-311b-be96-be67eb1aa347",
                            "name": "input (818ad834-7fba-33fe-8281-d0d289a803d9) (818ad834-7fba-33fe-8281-d0d289a803d9)",
                            "type": "INPUT_PORT"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "f2bcac7f-1d89-3e60-b925-6ab3d00e5ee7",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "83955406-2a8b-3510-84e7-88a5e6601e04",
                            "name": "AttributesToJSON",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "b4764bfd-ba5c-3cb2-92bd-7c7bd6568714",
                            "name": "[INFO]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "31a76aa7-f4ab-3c82-aff0-3f42ea6d85c0",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            ""
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "f4f95674-3d2a-3d99-a9d3-b70850983465",
                            "name": "start (02a839ec-79a4-31f6-9d71-ddd8a4f7d991)",
                            "type": "INPUT_PORT"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 1353.09548232819,
                                "y": 157.52963327904172
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "83955406-2a8b-3510-84e7-88a5e6601e04",
                            "name": "AttributesToJSON",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "38f475dd-ce7d-3fe5-b7b7-fd4974204e3c",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "e545e398-8de5-3aa5-8293-ebfbefd993e7",
                            "name": "[ERROR]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5ccf2f3e-cbe9-3d8f-8191-61d04d84143b",
                            "name": "output (ba651340-4928-3c54-ab8c-fbbd89b41e5c)",
                            "type": "OUTPUT_PORT"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "df9b5d0a-5fee-3cb7-b6f7-f934f003aa30",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "df59a9b7-fa9c-3f57-b522-44b0694e1c2a",
                            "name": "[INFO]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "10ce33ca-c80a-34f5-a5c1-0ea40e416670",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "025bf20b-ffbd-33e2-88a6-7ee3356f705e",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            ""
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "39e6f31a-8701-3383-a5ac-b4c3a541221e",
                            "id": "cf4f3c69-2232-3b90-9fce-e8e7ee21b520",
                            "name": "no_retry (651aa499-132c-3600-91fd-6b4ec704b711) (651aa499-132c-3600-91fd-6b4ec704b711)",
                            "type": "OUTPUT_PORT"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 2067.998046875,
                                "y": 1062.5838012695312
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "336d4b6b-bd97-32b1-9991-0b67b69c6426",
                            "name": "Funnel",
                            "type": "FUNNEL"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "a3e55691-c92a-3f4e-9213-3eae39ef1ae1",
                        "labelIndex": 0,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "6a76ea98-11b1-3226-95fc-1a9b80a1ea95",
                            "name": "LogMessage",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5f7ebc3e-088b-37d5-8bba-07e65697221a",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "6cb14e7c-51f8-3ff6-a9bf-d4d964c2821a",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "unmatched"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5b5bf6e0-c859-3c69-a9f2-6080fb7b4641",
                            "name": "Extract(sbtech_session_id)",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "df59a9b7-fa9c-3f57-b522-44b0694e1c2a",
                            "name": "[INFO]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "1df73ccb-33bf-3f25-a4d0-291e63440a3f",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "token_ok"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "ec970b42-934e-3e85-afc2-40722fdfb747",
                            "name": "RouteOnAttribute",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 1358.3455280269068,
                                "y": 482.0149278803185
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "10ce33ca-c80a-34f5-a5c1-0ea40e416670",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "f43b2e2a-0947-3562-b7e1-1cbd7775da07",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            ""
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "39e6f31a-8701-3383-a5ac-b4c3a541221e",
                            "id": "1898e782-fae9-3014-8466-1ef1f9b0f2c4",
                            "name": "retries_exceeded (e8ef325b-997d-31d2-9e40-29141ad68938) (e8ef325b-997d-31d2-9e40-29141ad68938)",
                            "type": "OUTPUT_PORT"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "ec970b42-934e-3e85-afc2-40722fdfb747",
                            "name": "RouteOnAttribute",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "9c8cbf3b-4c50-37a3-ab31-704a0d1c5f7a",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "matched"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5b5bf6e0-c859-3c69-a9f2-6080fb7b4641",
                            "name": "Extract(sbtech_session_id)",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "6a76ea98-11b1-3226-95fc-1a9b80a1ea95",
                            "name": "LogMessage",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "4f39592f-702b-3686-8801-2906915ca60a",
                        "labelIndex": 0,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "unmatched"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "ec970b42-934e-3e85-afc2-40722fdfb747",
                            "name": "RouteOnAttribute",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5b5bf6e0-c859-3c69-a9f2-6080fb7b4641",
                            "name": "Extract(sbtech_session_id)",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "a39f4e30-4e25-3f08-a136-3e897883e6bb",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            ""
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "39e6f31a-8701-3383-a5ac-b4c3a541221e",
                            "id": "54a48f48-3e0c-30ba-84bf-1b1069ff4681",
                            "name": "success (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c) (cb4ab65d-5b77-3bcb-bcde-85c299b5f36c)",
                            "type": "OUTPUT_PORT"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "e545e398-8de5-3aa5-8293-ebfbefd993e7",
                            "name": "[ERROR]LogMessage",
                            "type": "PROCESSOR"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "5e448dd3-a702-3f92-a731-3c437b621283",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "failure"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "83955406-2a8b-3510-84e7-88a5e6601e04",
                            "name": "AttributesToJSON",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 2154.2034912109375,
                                "y": 568.1222534179688
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "336d4b6b-bd97-32b1-9991-0b67b69c6426",
                            "name": "Funnel",
                            "type": "FUNNEL"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "07ea69e7-29d7-3d99-b8f3-5fb591810e90",
                        "labelIndex": 0,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "10ce33ca-c80a-34f5-a5c1-0ea40e416670",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [
                            {
                                "x": 2054.9862060546875,
                                "y": 812.1000366210938
                            }
                        ],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "336d4b6b-bd97-32b1-9991-0b67b69c6426",
                            "name": "Funnel",
                            "type": "FUNNEL"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "9cf11a04-08b7-3cbb-b7ba-93fe657fb163",
                        "labelIndex": 0,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            "success"
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "5f7ebc3e-088b-37d5-8bba-07e65697221a",
                            "name": "[ERROR]LogAttribute",
                            "type": "PROCESSOR"
                        },
                        "zIndex": 0
                    },
                    {
                        "backPressureDataSizeThreshold": "1 GB",
                        "backPressureObjectThreshold": 10000,
                        "bends": [],
                        "componentType": "CONNECTION",
                        "destination": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "65bea7e6-8a8e-3fe6-91df-c1a6e08088a8",
                            "name": "errors (3b67bd98-cf87-3616-8757-9ec03749907a)",
                            "type": "OUTPUT_PORT"
                        },
                        "flowFileExpiration": "0 sec",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "1975b701-a3e8-36c8-ae6d-615535b33afc",
                        "labelIndex": 1,
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "name": "",
                        "partitioningAttribute": "",
                        "prioritizers": [],
                        "selectedRelationships": [
                            ""
                        ],
                        "source": {
                            "comments": "",
                            "groupId": "425e5cb1-50da-3984-981e-8e716b1c9889",
                            "id": "336d4b6b-bd97-32b1-9991-0b67b69c6426",
                            "name": "Funnel",
                            "type": "FUNNEL"
                        },
                        "zIndex": 0
                    }
                ],
                "controllerServices": [],
                "funnels": [
                    {
                        "componentType": "FUNNEL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "336d4b6b-bd97-32b1-9991-0b67b69c6426",
                        "position": {
                            "x": 2242.1907605271,
                            "y": 943.3290919978488
                        }
                    }
                ],
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                "inputPorts": [
                    {
                        "comments": "",
                        "componentType": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "f4f95674-3d2a-3d99-a9d3-b70850983465",
                        "name": "start (02a839ec-79a4-31f6-9d71-ddd8a4f7d991)",
                        "position": {
                            "x": 879.3079796611978,
                            "y": -424.52545591934916
                        },
                        "type": "INPUT_PORT"
                    }
                ],
                "labels": [],
                "name": "GetSessionID",
                "outputPorts": [
                    {
                        "comments": "",
                        "componentType": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "5ccf2f3e-cbe9-3d8f-8191-61d04d84143b",
                        "name": "output (ba651340-4928-3c54-ab8c-fbbd89b41e5c)",
                        "position": {
                            "x": 2684.0613351928573,
                            "y": 1248.4838483433737
                        },
                        "type": "OUTPUT_PORT"
                    },
                    {
                        "comments": "",
                        "componentType": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "65bea7e6-8a8e-3fe6-91df-c1a6e08088a8",
                        "name": "errors (3b67bd98-cf87-3616-8757-9ec03749907a)",
                        "position": {
                            "x": 2691.9310714088288,
                            "y": 934.5904865058067
                        },
                        "type": "OUTPUT_PORT"
                    }
                ],
                "position": {
                    "x": 884.4110048645293,
                    "y": 1024.0246529080418
                },
                "processGroups": [
                    {
                        "comments": "",
                        "componentType": "PROCESS_GROUP",
                        "connections": [],
                        "controllerServices": [],
                        "funnels": [],
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "39e6f31a-8701-3383-a5ac-b4c3a541221e",
                        "inputPorts": [],
                        "labels": [],
                        "name": "InvokeSbTechApi",
                        "outputPorts": [],
                        "position": {
                            "x": 811.6811117244147,
                            "y": 475.165220630824
                        },
                        "processGroups": [],
                        "processors": [],
                        "remoteProcessGroups": [],
                        "variables": {},
                        "versionedFlowCoordinates": {
                            "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                            "flowId": "977ac4df-ef93-59d2-a39d-b192ff7665d2",
                            "registryUrl": "http://nifi-registry.gmx.prod.internal:18080",
                            "version": 7
                        }
                    }
                ],
                "processors": [
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "ec970b42-934e-3e85-afc2-40722fdfb747",
                        "name": "RouteOnAttribute",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 822.779866467356,
                            "y": 998.6610853272336
                        },
                        "properties": {
                            "Routing Strategy": "Route to Property name",
                            "token_ok": "${sbtech_session_id:isEmpty():not()}"
                        },
                        "propertyDescriptors": {
                            "Routing Strategy": {
                                "displayName": "Routing Strategy",
                                "identifiesControllerService": false,
                                "name": "Routing Strategy",
                                "sensitive": false
                            },
                            "token_ok": {
                                "displayName": "token_ok",
                                "identifiesControllerService": false,
                                "name": "token_ok",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-update-attribute-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "d39d6794-ab21-3a7e-81b8-ad06c3303532",
                        "name": "UpdateAttribute for InvokeHTTP",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 819.0125867822278,
                            "y": -52.01817771477721
                        },
                        "properties": {
                            "Store State": "Do not store state",
                            "agentPassword": "${SB_TECH_AGENT_PASSWORD}",
                            "agentUserName": "${SB_TECH_AGENT_USERNAME}",
                            "canonical-value-lookup-cache-size": "100",
                            "http_invoke.method": "POST",
                            "http_invoke.mime_type": "application/json",
                            "http_invoke.original_target_url": "${SB_TECH_BONUS_API_URL}/channelservice/createchannel/",
                            "skip_adding_channel_to_request": "TRUE"
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "name": "Delete Attributes Expression",
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "name": "Stateful Variables Initial Value",
                                "sensitive": false
                            },
                            "Store State": {
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "name": "Store State",
                                "sensitive": false
                            },
                            "agentPassword": {
                                "displayName": "agentPassword",
                                "identifiesControllerService": false,
                                "name": "agentPassword",
                                "sensitive": false
                            },
                            "agentUserName": {
                                "displayName": "agentUserName",
                                "identifiesControllerService": false,
                                "name": "agentUserName",
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "name": "canonical-value-lookup-cache-size",
                                "sensitive": false
                            },
                            "http_invoke.method": {
                                "displayName": "http_invoke.method",
                                "identifiesControllerService": false,
                                "name": "http_invoke.method",
                                "sensitive": false
                            },
                            "http_invoke.mime_type": {
                                "displayName": "http_invoke.mime_type",
                                "identifiesControllerService": false,
                                "name": "http_invoke.mime_type",
                                "sensitive": false
                            },
                            "http_invoke.original_target_url": {
                                "displayName": "http_invoke.original_target_url",
                                "identifiesControllerService": false,
                                "name": "http_invoke.original_target_url",
                                "sensitive": false
                            },
                            "skip_adding_channel_to_request": {
                                "displayName": "skip_adding_channel_to_request",
                                "identifiesControllerService": false,
                                "name": "skip_adding_channel_to_request",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "6a76ea98-11b1-3226-95fc-1a9b80a1ea95",
                        "name": "LogMessage",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 1543.4664509400122,
                            "y": 1002.395292480554
                        },
                        "properties": {
                            "log-level": "error",
                            "log-message": "Missing token in response"
                        },
                        "propertyDescriptors": {
                            "log-level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "log-level",
                                "sensitive": false
                            },
                            "log-message": {
                                "displayName": "Log message",
                                "identifiesControllerService": false,
                                "name": "log-message",
                                "sensitive": false
                            },
                            "log-prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "log-prefix",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.standard.LogMessage",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "5f7ebc3e-088b-37d5-8bba-07e65697221a",
                        "name": "[ERROR]LogAttribute",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 1534.5281328059614,
                            "y": 740.9993397196566
                        },
                        "properties": {
                            "Log Level": "error",
                            "Log Payload": "true",
                            "Log prefix": "[${PROCESS_ID}][GetOpenIdToken] ",
                            "attributes-to-log-regex": "invokehttp\\..*",
                            "character-set": "UTF-8"
                        },
                        "propertyDescriptors": {
                            "Attributes to Ignore": {
                                "displayName": "Attributes to Ignore",
                                "identifiesControllerService": false,
                                "name": "Attributes to Ignore",
                                "sensitive": false
                            },
                            "Attributes to Log": {
                                "displayName": "Attributes to Log",
                                "identifiesControllerService": false,
                                "name": "Attributes to Log",
                                "sensitive": false
                            },
                            "Log Level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "Log Level",
                                "sensitive": false
                            },
                            "Log Payload": {
                                "displayName": "Log Payload",
                                "identifiesControllerService": false,
                                "name": "Log Payload",
                                "sensitive": false
                            },
                            "Log prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "Log prefix",
                                "sensitive": false
                            },
                            "attributes-to-ignore-regex": {
                                "displayName": "Attributes to Ignore by Regular Expression",
                                "identifiesControllerService": false,
                                "name": "attributes-to-ignore-regex",
                                "sensitive": false
                            },
                            "attributes-to-log-regex": {
                                "displayName": "Attributes to Log by Regular Expression",
                                "identifiesControllerService": false,
                                "name": "attributes-to-log-regex",
                                "sensitive": false
                            },
                            "character-set": {
                                "displayName": "Character Set",
                                "identifiesControllerService": false,
                                "name": "character-set",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {
                            "background-color": "#ff0000"
                        },
                        "type": "org.apache.nifi.processors.standard.LogAttribute",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "df59a9b7-fa9c-3f57-b522-44b0694e1c2a",
                        "name": "[INFO]LogMessage",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 817.4817431436863,
                            "y": 1210.524263689138
                        },
                        "properties": {
                            "log-level": "info",
                            "log-message": "id_token for user ${OIDC_USERNAME} extracted.",
                            "log-prefix": "[${PROCESS_ID}][GetOpenIdToken] "
                        },
                        "propertyDescriptors": {
                            "log-level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "log-level",
                                "sensitive": false
                            },
                            "log-message": {
                                "displayName": "Log message",
                                "identifiesControllerService": false,
                                "name": "log-message",
                                "sensitive": false
                            },
                            "log-prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "log-prefix",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {
                            "background-color": "#7dfffb"
                        },
                        "type": "org.apache.nifi.processors.standard.LogMessage",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "e545e398-8de5-3aa5-8293-ebfbefd993e7",
                        "name": "[ERROR]LogMessage",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 1529.1167599380028,
                            "y": 173.99881637926228
                        },
                        "properties": {
                            "log-level": "error",
                            "log-message": "Unable to Create Waleet create BPR line Payload",
                            "log-prefix": "[ProcessController][VirtualShop][${PROCESS_ID}] "
                        },
                        "propertyDescriptors": {
                            "log-level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "log-level",
                                "sensitive": false
                            },
                            "log-message": {
                                "displayName": "Log message",
                                "identifiesControllerService": false,
                                "name": "log-message",
                                "sensitive": false
                            },
                            "log-prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "log-prefix",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 100,
                        "schedulingPeriod": "300 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.standard.LogMessage",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "83955406-2a8b-3510-84e7-88a5e6601e04",
                        "name": "AttributesToJSON",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 814.0872662418151,
                            "y": 168.86692295714147
                        },
                        "properties": {
                            "Attributes List": "agentUserName,agentPassword",
                            "Destination": "flowfile-content",
                            "Include Core Attributes": "false",
                            "Null Value": "false"
                        },
                        "propertyDescriptors": {
                            "Attributes List": {
                                "displayName": "Attributes List",
                                "identifiesControllerService": false,
                                "name": "Attributes List",
                                "sensitive": false
                            },
                            "Destination": {
                                "displayName": "Destination",
                                "identifiesControllerService": false,
                                "name": "Destination",
                                "sensitive": false
                            },
                            "Include Core Attributes": {
                                "displayName": "Include Core Attributes",
                                "identifiesControllerService": false,
                                "name": "Include Core Attributes",
                                "sensitive": false
                            },
                            "Null Value": {
                                "displayName": "Null Value",
                                "identifiesControllerService": false,
                                "name": "Null Value",
                                "sensitive": false
                            },
                            "attributes-to-json-regex": {
                                "displayName": "Attributes Regular Expression",
                                "identifiesControllerService": false,
                                "name": "attributes-to-json-regex",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "10ce33ca-c80a-34f5-a5c1-0ea40e416670",
                        "name": "[ERROR]LogAttribute",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 1540.0099443293989,
                            "y": 502.5033070048129
                        },
                        "properties": {
                            "Log Level": "error",
                            "Log Payload": "true",
                            "Log prefix": "[${PROCESS_ID}][GetOpenIdToken] ",
                            "attributes-to-log-regex": "invokehttp\\..*",
                            "character-set": "UTF-8"
                        },
                        "propertyDescriptors": {
                            "Attributes to Ignore": {
                                "displayName": "Attributes to Ignore",
                                "identifiesControllerService": false,
                                "name": "Attributes to Ignore",
                                "sensitive": false
                            },
                            "Attributes to Log": {
                                "displayName": "Attributes to Log",
                                "identifiesControllerService": false,
                                "name": "Attributes to Log",
                                "sensitive": false
                            },
                            "Log Level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "Log Level",
                                "sensitive": false
                            },
                            "Log Payload": {
                                "displayName": "Log Payload",
                                "identifiesControllerService": false,
                                "name": "Log Payload",
                                "sensitive": false
                            },
                            "Log prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "Log prefix",
                                "sensitive": false
                            },
                            "attributes-to-ignore-regex": {
                                "displayName": "Attributes to Ignore by Regular Expression",
                                "identifiesControllerService": false,
                                "name": "attributes-to-ignore-regex",
                                "sensitive": false
                            },
                            "attributes-to-log-regex": {
                                "displayName": "Attributes to Log by Regular Expression",
                                "identifiesControllerService": false,
                                "name": "attributes-to-log-regex",
                                "sensitive": false
                            },
                            "character-set": {
                                "displayName": "Character Set",
                                "identifiesControllerService": false,
                                "name": "character-set",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {
                            "background-color": "#ff0000"
                        },
                        "type": "org.apache.nifi.processors.standard.LogAttribute",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "b4764bfd-ba5c-3cb2-92bd-7c7bd6568714",
                        "name": "[INFO]LogMessage",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 813.350824461156,
                            "y": -281.22387545773006
                        },
                        "properties": {
                            "log-level": "info",
                            "log-message": "Creating channel and get SessionID for agent: ${SB_TECH_AGENT_USER_NAME}",
                            "log-prefix": "[${PROCESS_ID}][GetSessionID]  "
                        },
                        "propertyDescriptors": {
                            "log-level": {
                                "displayName": "Log Level",
                                "identifiesControllerService": false,
                                "name": "log-level",
                                "sensitive": false
                            },
                            "log-message": {
                                "displayName": "Log message",
                                "identifiesControllerService": false,
                                "name": "log-message",
                                "sensitive": false
                            },
                            "log-prefix": {
                                "displayName": "Log prefix",
                                "identifiesControllerService": false,
                                "name": "log-prefix",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {
                            "background-color": "#96ffff"
                        },
                        "type": "org.apache.nifi.processors.standard.LogMessage",
                        "yieldDuration": "1 sec"
                    },
                    {
                        "autoTerminatedRelationships": [],
                        "bulletinLevel": "WARN",
                        "bundle": {
                            "artifact": "nifi-standard-nar",
                            "group": "org.apache.nifi",
                            "version": "1.9.2"
                        },
                        "comments": "",
                        "componentType": "PROCESSOR",
                        "concurrentlySchedulableTaskCount": 1,
                        "executionNode": "ALL",
                        "groupIdentifier": "425e5cb1-50da-3984-981e-8e716b1c9889",
                        "identifier": "5b5bf6e0-c859-3c69-a9f2-6080fb7b4641",
                        "name": "Extract(sbtech_session_id)",
                        "penaltyDuration": "30 sec",
                        "position": {
                            "x": 818.7854206665747,
                            "y": 744.9818098145383
                        },
                        "properties": {
                            "Destination": "flowfile-attribute",
                            "Null Value Representation": "empty string",
                            "Path Not Found Behavior": "warn",
                            "Return Type": "scalar",
                            "sbtech_session_id": "$[0].Value.Value"
                        },
                        "propertyDescriptors": {
                            "Destination": {
                                "displayName": "Destination",
                                "identifiesControllerService": false,
                                "name": "Destination",
                                "sensitive": false
                            },
                            "Null Value Representation": {
                                "displayName": "Null Value Representation",
                                "identifiesControllerService": false,
                                "name": "Null Value Representation",
                                "sensitive": false
                            },
                            "Path Not Found Behavior": {
                                "displayName": "Path Not Found Behavior",
                                "identifiesControllerService": false,
                                "name": "Path Not Found Behavior",
                                "sensitive": false
                            },
                            "Return Type": {
                                "displayName": "Return Type",
                                "identifiesControllerService": false,
                                "name": "Return Type",
                                "sensitive": false
                            },
                            "sbtech_session_id": {
                                "displayName": "sbtech_session_id",
                                "identifiesControllerService": false,
                                "name": "sbtech_session_id",
                                "sensitive": false
                            }
                        },
                        "runDurationMillis": 0,
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "style": {},
                        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                        "yieldDuration": "1 sec"
                    }
                ],
                "remoteProcessGroups": [],
                "variables": {}
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "505bc93b-7662-3825-82e7-cea06b83187a",
                "name": "GenerateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1094.3038271301543,
                    "y": 15.204361388876919
                },
                "properties": {
                    "Batch Size": "1",
                    "Data Format": "Text",
                    "File Size": "0B",
                    "Unique FlowFiles": "false",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Batch Size": {
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "name": "Batch Size",
                        "sensitive": false
                    },
                    "Data Format": {
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "name": "Data Format",
                        "sensitive": false
                    },
                    "File Size": {
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "name": "File Size",
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "name": "Unique FlowFiles",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "name": "generate-ff-custom-text",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "30 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "b1963985-3e6f-3ae8-957e-ed544535d92f",
                "name": "LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1534.9011510745331,
                    "y": 1043.213608864032
                },
                "properties": {
                    "Log Level": "error",
                    "Log Payload": "false",
                    "Log prefix": "[${PROCESS_ID}][RefreshSessionID] ",
                    "attributes-to-log-regex": ".*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "5 minutes",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "42bfdbaa-a888-37f2-aeef-c97911019d46",
                "name": "SportNationSessionID",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1102.0421083801543,
                    "y": 267.6500038601904
                },
                "properties": {
                    "ID_TOKEN_KEY": "SB_TECH_SESSION_ID_SN",
                    "SB_TECH_AGENT_PASSWORD": "${SB_TECH_AGENT_PASSWORD_SN}",
                    "SB_TECH_AGENT_USERNAME": "${SB_TECH_AGENT_USERNAME_SN}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "ID_TOKEN_KEY": {
                        "displayName": "ID_TOKEN_KEY",
                        "identifiesControllerService": false,
                        "name": "ID_TOKEN_KEY",
                        "sensitive": false
                    },
                    "SB_TECH_AGENT_PASSWORD": {
                        "displayName": "SB_TECH_AGENT_PASSWORD",
                        "identifiesControllerService": false,
                        "name": "SB_TECH_AGENT_PASSWORD",
                        "sensitive": false
                    },
                    "SB_TECH_AGENT_USERNAME": {
                        "displayName": "SB_TECH_AGENT_USERNAME",
                        "identifiesControllerService": false,
                        "name": "SB_TECH_AGENT_USERNAME",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "9c96a451-4a81-3f5d-9c6b-d3e9f6f593b1",
                "name": "GenerateFlowFile",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 694.5718325012481,
                    "y": 15.204361388876919
                },
                "properties": {
                    "Batch Size": "1",
                    "Data Format": "Text",
                    "File Size": "0B",
                    "Unique FlowFiles": "false",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Batch Size": {
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "name": "Batch Size",
                        "sensitive": false
                    },
                    "Data Format": {
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "name": "Data Format",
                        "sensitive": false
                    },
                    "File Size": {
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "name": "File Size",
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "name": "Unique FlowFiles",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "name": "generate-ff-custom-text",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "40 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "5cc9db3a-47c2-3032-90ad-a8fd3933ebb9",
                "name": "LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 886.5864340995176,
                    "y": 1761.707229852896
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Token refreshed",
                    "log-prefix": "[${PROCESS_ID}][RefreshSessionID] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "52a3df16-959d-3994-99c1-838f7d9e1b78",
                "name": "LogAttribute",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 1513.662609258707,
                    "y": 1536.3011981853615
                },
                "properties": {
                    "Log Level": "warn",
                    "Log Payload": "false",
                    "Log prefix": "[${PROCESS_ID}][RefreshSessionID] ",
                    "attributes-to-log-regex": ".*",
                    "character-set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Attributes to Ignore": {
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "name": "Attributes to Ignore",
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "name": "Attributes to Log",
                        "sensitive": false
                    },
                    "Log Level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "Log Level",
                        "sensitive": false
                    },
                    "Log Payload": {
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "name": "Log Payload",
                        "sensitive": false
                    },
                    "Log prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "Log prefix",
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-ignore-regex",
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-to-log-regex",
                        "sensitive": false
                    },
                    "character-set": {
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "name": "character-set",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "5 minutes",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "0ece4654-08ca-3304-b4c3-d7fe97a60a34",
                "name": "PutDistributedMapCache",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 891.1730926753203,
                    "y": 1537.8199185149645
                },
                "properties": {
                    "Cache Entry Identifier": "id_token__${ID_TOKEN_KEY}",
                    "Cache update strategy": "replace",
                    "Distributed Cache Service": "fb9106ba-2355-331a-99dc-e26bb943180b",
                    "Max cache entry size": "1 MB"
                },
                "propertyDescriptors": {
                    "Cache Entry Identifier": {
                        "displayName": "Cache Entry Identifier",
                        "identifiesControllerService": false,
                        "name": "Cache Entry Identifier",
                        "sensitive": false
                    },
                    "Cache update strategy": {
                        "displayName": "Cache update strategy",
                        "identifiesControllerService": false,
                        "name": "Cache update strategy",
                        "sensitive": false
                    },
                    "Distributed Cache Service": {
                        "displayName": "Distributed Cache Service",
                        "identifiesControllerService": true,
                        "name": "Distributed Cache Service",
                        "sensitive": false
                    },
                    "Max cache entry size": {
                        "displayName": "Max cache entry size",
                        "identifiesControllerService": false,
                        "name": "Max cache entry size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutDistributedMapCache",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "548099de-1487-39c6-ab5d-e5bba1b69ca3",
                "name": "AttributesToCSV",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 892.9733490332642,
                    "y": 1309.7771137176278
                },
                "properties": {
                    "attribute-list": "sbtech_session_id",
                    "destination": "flowfile-content",
                    "include-core-attributes": "false",
                    "include-schema": "false",
                    "null-value": "false"
                },
                "propertyDescriptors": {
                    "attribute-list": {
                        "displayName": "Attribute List",
                        "identifiesControllerService": false,
                        "name": "attribute-list",
                        "sensitive": false
                    },
                    "attributes-regex": {
                        "displayName": "Attributes Regular Expression",
                        "identifiesControllerService": false,
                        "name": "attributes-regex",
                        "sensitive": false
                    },
                    "destination": {
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "name": "destination",
                        "sensitive": false
                    },
                    "include-core-attributes": {
                        "displayName": "Include Core Attributes",
                        "identifiesControllerService": false,
                        "name": "include-core-attributes",
                        "sensitive": false
                    },
                    "include-schema": {
                        "displayName": "Include Schema",
                        "identifiesControllerService": false,
                        "name": "include-schema",
                        "sensitive": false
                    },
                    "null-value": {
                        "displayName": "Null Value",
                        "identifiesControllerService": false,
                        "name": "null-value",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.AttributesToCSV",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "6e30139a-2d39-3727-8c85-998a5002e96f",
                "name": "Set PROCESS_ID",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 895.2492491512605,
                    "y": 760.7839519568697
                },
                "properties": {
                    "PROCESS_ID": "REFRESH_${ID_TOKEN_KEY}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "PROCESS_ID": {
                        "displayName": "PROCESS_ID",
                        "identifiesControllerService": false,
                        "name": "PROCESS_ID",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            },
            {
                "autoTerminatedRelationships": [],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-update-attribute-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "00594a0a-81f4-35d3-b529-2a5096b71b80",
                "identifier": "d9dc028f-5096-3aa9-a65b-977261ea15c9",
                "name": "RedZoneSessionID",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 697.4351137512481,
                    "y": 265.98652119417477
                },
                "properties": {
                    "ID_TOKEN_KEY": "SB_TECH_SESSION_ID_RZ",
                    "SB_TECH_AGENT_PASSWORD": "${SB_TECH_AGENT_PASSWORD_RZ}",
                    "SB_TECH_AGENT_USERNAME": "${SB_TECH_AGENT_USERNAME_RZ}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100"
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "name": "Delete Attributes Expression",
                        "sensitive": false
                    },
                    "ID_TOKEN_KEY": {
                        "displayName": "ID_TOKEN_KEY",
                        "identifiesControllerService": false,
                        "name": "ID_TOKEN_KEY",
                        "sensitive": false
                    },
                    "SB_TECH_AGENT_PASSWORD": {
                        "displayName": "SB_TECH_AGENT_PASSWORD",
                        "identifiesControllerService": false,
                        "name": "SB_TECH_AGENT_PASSWORD",
                        "sensitive": false
                    },
                    "SB_TECH_AGENT_USERNAME": {
                        "displayName": "SB_TECH_AGENT_USERNAME",
                        "identifiesControllerService": false,
                        "name": "SB_TECH_AGENT_USERNAME",
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "name": "Stateful Variables Initial Value",
                        "sensitive": false
                    },
                    "Store State": {
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "name": "Store State",
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "name": "canonical-value-lookup-cache-size",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 0,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "version bump",
        "flowIdentifier": "bd9894a4-06bd-500d-a773-cfe4d79dab7d",
        "timestamp": 1574808183164,
        "version": 4
    }
}