archive/legacy-review/gmx-services/gmx-process-engine-flows/gmx-process-engine-flows/Common/TopUpWallet/000000020.json
{
    "bucket": {
        "createdTimestamp": 1555593150284,
        "identifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "name": "Common",
        "permissions": {
            "canDelete": true,
            "canRead": true,
            "canWrite": true
        }
    },
    "flow": {
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "bucketName": "Common",
        "createdTimestamp": 1555665698952,
        "description": "",
        "identifier": "808c6e44-a6a4-581d-9d87-706d15f51901",
        "modifiedTimestamp": 1574856610284,
        "name": "TopUpWallet",
        "type": "Flow",
        "versionCount": 20
    },
    "flowContents": {
        "comments": "",
        "componentType": "PROCESS_GROUP",
        "connections": [
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "358b3be0-92ba-332c-8568-485e88ef645e",
                    "id": "48e5ea8d-9a49-364b-aa3f-8d1f1fed0f3b",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "618ab275-36fa-3f35-8942-5c63ba511a08",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "33de8ac3-b117-34df-bf85-7336e4bf1bdd",
                    "id": "60204f7f-5106-3d7f-8b74-09d1c44705bd",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "358b3be0-92ba-332c-8568-485e88ef645e",
                    "id": "c47c8439-9d5e-3e92-b349-8ff3060b1056",
                    "name": "LogMessage",
                    "type": "PROCESSOR"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "97126f10-e3cc-3e3f-beb2-c5b82030eca9",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "15db71db-49c4-30c4-8c14-0b38f909c620",
                    "name": "output",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "358b3be0-92ba-332c-8568-485e88ef645e",
                    "id": "48e5ea8d-9a49-364b-aa3f-8d1f1fed0f3b",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "7371c098-db39-38dd-834f-cb7eb73a2669",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "45d087e1-d6b7-36a8-ae2f-260bfa16a659",
                    "id": "d736afd9-b9c7-318d-a23f-2d33bd339978",
                    "name": "records",
                    "type": "OUTPUT_PORT"
                },
                "zIndex": 0
            },
            {
                "backPressureDataSizeThreshold": "1 GB",
                "backPressureObjectThreshold": 10000,
                "bends": [],
                "componentType": "CONNECTION",
                "destination": {
                    "comments": "",
                    "groupId": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                    "id": "725a92c3-c922-3a51-9a2f-7bfb20f1da03",
                    "name": "start",
                    "type": "INPUT_PORT"
                },
                "flowFileExpiration": "0 sec",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "ae881984-8f81-35d3-a66f-82da00c921f8",
                "labelIndex": 1,
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "name": "",
                "partitioningAttribute": "",
                "prioritizers": [],
                "selectedRelationships": [
                    ""
                ],
                "source": {
                    "comments": "",
                    "groupId": "358b3be0-92ba-332c-8568-485e88ef645e",
                    "id": "48e5ea8d-9a49-364b-aa3f-8d1f1fed0f3b",
                    "name": "Funnel",
                    "type": "FUNNEL"
                },
                "zIndex": 0
            }
        ],
        "controllerServices": [],
        "funnels": [
            {
                "componentType": "FUNNEL",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "48e5ea8d-9a49-364b-aa3f-8d1f1fed0f3b",
                "position": {
                    "x": 953.1227188281052,
                    "y": 123.48403419884193
                }
            }
        ],
        "identifier": "358b3be0-92ba-332c-8568-485e88ef645e",
        "inputPorts": [],
        "labels": [],
        "name": "WalletTopUp",
        "outputPorts": [],
        "position": {
            "x": 333.07073974609375,
            "y": 297.10105895996094
        },
        "processGroups": [
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "33de8ac3-b117-34df-bf85-7336e4bf1bdd",
                "inputPorts": [],
                "labels": [],
                "name": "FetchCasinoAndSportBetsTopupData",
                "outputPorts": [],
                "position": {
                    "x": 407.1938758382428,
                    "y": -143.5708603756591
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "648fb416-62a0-5165-a8fd-5fe85818aaa7",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 14
                }
            },
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "b65c9ac7-f44c-39f6-81a1-bcc8becfffec",
                "inputPorts": [],
                "labels": [],
                "name": "ProcessExtTopUpUser",
                "outputPorts": [],
                "position": {
                    "x": 786.4922262468222,
                    "y": 249.05477523109826
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "35f5bede-422a-503e-a238-13be3110b830",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 17
                }
            },
            {
                "comments": "",
                "componentType": "PROCESS_GROUP",
                "connections": [],
                "controllerServices": [],
                "funnels": [],
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "45d087e1-d6b7-36a8-ae2f-260bfa16a659",
                "inputPorts": [],
                "labels": [],
                "name": "FetchS3WalletTopUp",
                "outputPorts": [],
                "position": {
                    "x": 1167.3882692195696,
                    "y": -142.3882230721897
                },
                "processGroups": [],
                "processors": [],
                "remoteProcessGroups": [],
                "variables": {},
                "versionedFlowCoordinates": {
                    "bucketId": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
                    "flowId": "e0cd691f-2c6d-5a94-8ede-d9a3afa0c6eb",
                    "registryUrl": "NIFI_REGISTRY_URL",
                    "version": 1
                }
            }
        ],
        "processors": [
            {
                "autoTerminatedRelationships": [
                    "success"
                ],
                "bulletinLevel": "WARN",
                "bundle": {
                    "artifact": "nifi-standard-nar",
                    "group": "org.apache.nifi",
                    "version": "1.9.2"
                },
                "comments": "",
                "componentType": "PROCESSOR",
                "concurrentlySchedulableTaskCount": 1,
                "executionNode": "ALL",
                "groupIdentifier": "358b3be0-92ba-332c-8568-485e88ef645e",
                "identifier": "c47c8439-9d5e-3e92-b349-8ff3060b1056",
                "name": "LogMessage",
                "penaltyDuration": "30 sec",
                "position": {
                    "x": 799.5217294600968,
                    "y": 507.41607152954384
                },
                "properties": {
                    "log-level": "info",
                    "log-message": "Message processed ",
                    "log-prefix": "[${PROCESS_ID}][WalletTopUp] "
                },
                "propertyDescriptors": {
                    "log-level": {
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "name": "log-level",
                        "sensitive": false
                    },
                    "log-message": {
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "name": "log-message",
                        "sensitive": false
                    },
                    "log-prefix": {
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "name": "log-prefix",
                        "sensitive": false
                    }
                },
                "runDurationMillis": 100,
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "style": {},
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "yieldDuration": "1 sec"
            }
        ],
        "remoteProcessGroups": []
    },
    "snapshotMetadata": {
        "author": "anonymous",
        "bucketIdentifier": "82014e99-747a-5eda-bf6f-5c7443a09fc7",
        "comments": "vcersion bump",
        "flowIdentifier": "808c6e44-a6a4-581d-9d87-706d15f51901",
        "timestamp": 1574856610198,
        "version": 20
    }
}